@import "globalsLess";

.sign-up-form {
  form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .passwords {
      display: flex;
      gap: 20px;

      .field-layout {
        width: 100%;
      }
    }

    .button {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    .login-link {
      .fontInterMedium();
      font-size: 16px;
      color: @primary-color-lighter;
      cursor: pointer;
      display: flex;
      justify-content: center;

      &:hover {
        color: @primary-color-main;
      }
    }
  }
}
