@import "globalsLess";

.sign-up-form {
    form {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .confirm-password {
            margin-bottom: 40px;
        }

        .submit {
            width: 100%;
        }
    }
}
