@import "globalsLess";

.app-header {
  display: flex;
  background-color: #FFFFFF;
  height: 50px;
  align-items: center;
  padding: 0 14px;
  box-shadow: 0 12px 13px rgb(178 183 219 / 20%);

  .header-title {
    .fontMulishBold();
    font-size: 22px;
  }

  .logout-button {
    margin-left: auto;
  }

  .user-block {
    margin-left: auto;
    display: flex;
    cursor: pointer;

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      padding-right: 12px;

      .user-full-name {
        .fontMulishBold();
        color: @text-color;
        font-size: 16px;
      }

      .user-email {
        .fontMulishRegular();
        color: @text-color-secondary;
      }
    }
  }
}