@import "../global.less";

.email-confirmation-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .success-icon {
      -webkit-mask: url("/img/circle_check.svg") center / 100px 100px no-repeat;
      mask: url("/img/circle_check.svg") center / 100px 100px no-repeat;
      width: 100px;
      height: 100px;
      background-color: #23C653;
      margin-bottom: 46px;
    }

    .email-confirmation-header {
      .fontInterRegular();
      font-size: 28px;
      color: @system-color-dark-300;
      margin: 0;
      text-align: center;
      margin-bottom: 14px;
    }

    .email-confirmation-annotation {
      .fontInterRegular();
      color: @system-color-dark-300;
      font-size: 14px;
      margin: 0;
      text-align: center;
    }

    .email-confirmation-redirect-link {
      .fontInterRegular();
      color: @primary-color-lighter;
      font-size: 14px;
      margin: 0;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: @primary-color-main;
      }
    }
  }
}
