@import "../global.less";

.page.review {
    .adaptationAllAndMobile(
    {
        padding-left: 30px;
        padding-right: 30px;
    },
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    );

    .page-content {
        max-width: 1860px;

        .section {
            width: 100%;
            border-radius: 20px;
            background-color: @beige-alpha-8;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 60px;
            padding-bottom: 100px;
            margin-bottom: 30px;

            .section-header {
                margin: 0 0 60px;
                .fontOutfitRegular(60px);
                color: @black-alpha-60;
                display: flex;
                align-items: center;
                gap: 18px;

                .site-logo-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: @white;

                    .site-logo {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                }

                .site-rating-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #78AC65;

                    .site-rating {
                        display: block;
                        .fontOutfitMedium(16px);
                        color: @white;
                    }
                }
            }

            .reviews-container {
                position: relative;
                width: 800px;
                margin-bottom: 20px;

                .cards-container {
                    .review-card {
                        .card-body-container {
                            .review-text {
                                height: auto;
                                overflow: unset;
                                text-overflow: unset;
                                word-wrap: unset;
                                -webkit-line-clamp: unset;
                                line-clamp: unset;
                                -webkit-box-orient: unset;
                                display: block;
                                margin-bottom: 24px;
                            }

                            .card-footer {
                                .show-more {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
