@import "../global.less";

.page.reviews {
    .adaptationAllAndMobile(
    {
        padding-left: 30px;
        padding-right: 30px;
    },
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    );

    .page-content {
        max-width: 1860px;

        .section {
            width: 100%;
            border-radius: 20px;
            background-color: @beige-alpha-8;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 60px;
            padding-bottom: 100px;
            margin-bottom: 30px;

            .section-header {
                margin: 0 0 60px;
                .fontOutfitRegular(60px);
                color: @black-alpha-60;
                display: flex;
                align-items: center;
                gap: 18px;
            }

            .field-container {
                width: 800px;
                margin-bottom: 30px;
            }

            .sorting-filter-container {
                width: 800px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 12px;

                .open-sorting, .open-filter {
                    display: flex;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    .fontOutfitRegular(14px);
                    color: @black-alpha-40;
                    height: 20px;
                    line-height: 20px;
                    align-items: center;
                    gap: 6px;
                    transition: color 0.15s;

                    &:hover {
                        color: @black-alpha-60;
                    }
                }

                .dropdown-menu-container {
                    .dropdown-menu {
                        .menu-group-header {
                            margin: 0 0 16px;
                            .fontOutfitMedium(14px);
                            color: @black-alpha-60;
                        }

                        .field-group {
                            padding-left: 12px;
                            margin-bottom: 16px;

                            .field:not(:last-child) {
                                margin-bottom: 14px;
                            }
                        }
                    }

                    &.sorting {
                        .dropdown-menu {
                            padding: 20px;
                            width: 230px;

                            .button {
                                width: 100%;
                            }
                        }
                    }

                    &.filter {
                        .dropdown-menu {
                            padding: 20px;
                            width: 280px;


                            .rating-range-labels-container {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-bottom: 14px;

                                .rating-label {
                                    display: flex;
                                    align-items: center;
                                    gap: 4px;
                                    color: @black-alpha-60;

                                    .prefix, .value {
                                        display: block;
                                    }

                                    .value {
                                        width: 10px;
                                    }
                                }
                            }

                            .slider-container {
                                padding-left: 7px;
                                padding-right: 7px;
                                margin-bottom: 24px;
                            }

                            .button {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .reviews-container {
                position: relative;
                width: 800px;
                margin-bottom: 20px;

                .blur-panel {
                    position: absolute;
                    top: 0;
                    background-color: @beige-alpha-60;
                    backdrop-filter: blur(2.5px);
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.3s;

                    &.active {
                        opacity: 1;
                        pointer-events: all;
                    }
                }

                .cards-container {
                    .no-data {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 150px;

                        .no-data-text {
                            display: block;
                            text-align: center;
                            .fontOutfitRegular(14px);
                            color: @black-alpha-60;
                        }
                    }

                    .review-card {
                        position: relative;

                        &:first-child {
                            .web-resource-data {
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }
                        }

                        .web-resource-data {
                            height: 42px;
                            background-color: @ivory;
                            padding-left: 30px;
                            padding-right: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .web-resource-name-container {
                                display: flex;
                                gap: 6px;
                                align-items: center;

                                .resource-icon {
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 4px;
                                }

                                .resource-name {
                                    margin: 0;
                                    width: 600px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    .fontOutfitMedium(18px);
                                    color: @black-alpha-60;
                                }
                            }

                            .site-rating-link {
                                .fontOutfitRegular(14px);
                            }
                        }

                        &:not(:last-child) {
                            &:after {
                                content: "";
                                background: @beige-alpha-8;
                                position: absolute;
                                bottom: 0;
                                left: 30px;
                                right: 30px;
                                height: 1px;
                            }
                        }

                        .card-body-container {
                            padding: 30px;
                            background-color: @white;

                            .card-header {
                                display: flex;
                                align-items: center;
                                margin-bottom: 16px;

                                .user-info-container {
                                    display: flex;
                                    align-items: center;
                                    width: 302px;

                                    .user-avatar {
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        margin-right: 12px;
                                    }

                                    .name-date {
                                        .user-name, .review-date {
                                            display: block;
                                            color: @black-alpha-60;
                                        }

                                        .user-name {
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            width: 224px;
                                            .fontOutfitMedium(16px);
                                        }

                                        .review-date {
                                            .fontOutfitRegular(10px);
                                        }
                                    }
                                }

                                .resource-type {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 138px;
                                    height: 30px;
                                    border-radius: 28px;

                                    &.site-type {
                                        background-color: @lime-alpha-40;
                                    }

                                    &.page-type {
                                        background-color: @blue-alpha-20;
                                    }

                                    .value {
                                        display: block;
                                        .fontOutfitRegular(16px);
                                        color: @black-alpha-60;
                                    }
                                }

                                .rating {
                                    gap: 6px;
                                    display: flex;
                                    margin-left: auto;

                                    .star {
                                        path {
                                            fill: @lime-alpha-40;
                                        }

                                        &.active {
                                            path {
                                                fill: @lime;
                                            }
                                        }
                                    }
                                }
                            }

                            .page-link {
                                display: block;
                                width: 740px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                .fontOutfitRegular(12px);
                                margin-bottom: 8px;
                            }

                            .review-text {
                                margin: 0 0 16px;
                                width: 740px;
                                height: 60px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                word-wrap: break-word;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                line-clamp: 3;
                                -webkit-box-orient: vertical;
                                .fontOutfitRegular(16px);
                                color: @black-alpha-60;
                                transition: height 0.15s;
                            }

                            .card-footer {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .show-more {
                                    height: 16px;
                                    .fontOutfitRegular(12px);
                                    border: none;
                                    border-radius: unset;
                                    width: unset;
                                    padding: 0;
                                    gap: 4px;
                                    color: @black-alpha-60;

                                    .icon {
                                        width: 6px;
                                        height: 8px;

                                        path {
                                            stroke: @black-alpha-60;
                                        }
                                    }

                                    &:hover {
                                        background-color: transparent;
                                        color: @brown-dark;

                                        .icon path {
                                            stroke: @brown-dark;
                                        }
                                    }
                                }

                                .actions-container {
                                    display: flex;
                                    align-items: center;
                                    gap: 8px;
                                    margin-left: auto;

                                    .reaction {
                                        display: flex;
                                        align-items: center;
                                        gap: 4px;

                                        .reactions-count {
                                            display: block;
                                            .fontOutfitMedium(12px);
                                            color: @gray;
                                        }
                                    }

                                    .share-button {
                                        padding: 0;
                                        height: auto;
                                        border: 0;
                                        border-radius: unset;
                                        margin-left: 6px;

                                        .share {
                                            width: 14px;
                                            height: 14px;

                                            path {
                                                stroke: @gray;
                                            }
                                        }

                                        &:hover {
                                            background-color: transparent;

                                            .share path {
                                                stroke: @brown-dark;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pagination {
                width: 800px;
                display: flex;
                justify-content: space-between;

                .button {
                    border: none;
                    background-color: @beige-alpha-8;
                    font-size: 16px;

                    &:hover {
                        background-color: @beige-dark-alpha-20;
                    }

                    &.disabled {
                        pointer-events: none;
                    }
                }

                .button-container {
                    display: flex;
                    flex: 1;

                    &.next {
                        justify-content: end;
                    }

                    .previous-button, .next-button {
                        width: 122px;
                    }
                }

                .pages-container {
                    display: flex;
                    justify-content: space-between;
                    flex: 2;
                }
            }
        }
    }
}
