<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pageLayout(pageClass='policy')}"
      lang="en">
<head>
    <title>Cookie Policy</title>

    <link th:href="@{/css/policy.css}" rel="stylesheet"/>
</head>
<body>
<div class="page-content" layout:fragment="page-content">
    <section class="section">
        <h1>Cookie Policy</h1>

        <p>
            When you use this website, we may store cookies in your web browser. Third-party websites that you choose to visit may do the same. This Cookie Policy explains what
            cookies are, how you can manage cookies, and what types of cookies may be on our site.
        </p>

        <h2>What is a cookie file?</h2>
        <p>
            A cookie is a small text file that resides on a user's device or browser and supports the flow of information and functioning of a website. Cookies are provided by most
            websites and serve many purposes. They can help a site remember your preferences, identify which areas of the site are useful and which need improvement, as well as
            provide targeted advertising or personalized content. Sometimes cookies are included when placing pixels on a website. Pixels are also called web beacons, clear gifts,
            and tags. They allow websites to read and place cookies.
        </p>

        <h2>Session and persistent cookies</h2>
        <p>
            All cookies are either session cookies or persistent cookies. A session cookie is temporarily created on your device for use by the website during your visit. This type
            of cookie can store information you enter and track your activity on the website. A session cookie is deleted when you leave the website or close the web browser. A
            good example of a session cookie is a shopping cart on an e-commerce website. The session cookie keeps track of the items you've added to your cart so they aren't
            forgotten when browsing other pages of the site. With the use of a session cookie, all items will be in the shopping cart when the user reaches the checkout page.
        </p>
        <p>
            A persistent cookie is a file that is stored by the web browser on the user's device until it expires or until it is deleted by the user. The expiration period of a
            persistent cookie is determined by its creator and may expire after a specified date or session time. This means that throughout the lifespan of the cookie, the
            information it collects will be transmitted to the server of the cookie's creator each time the user visits the website to which the cookie belongs, or another site
            configured to check for the presence of that cookie (e.g., advertising placed on this site). For this reason, persistent cookies are also referred to as "tracking
            cookies." These cookies remain on your device after you close the browser and differ from cookie to cookie. Detailed expiration periods for cookies can be found in the
            cookie table at the end.
        </p>

        <h2>First-party cookies (also known as primary cookies or own cookies) and third-party cookies (third-party cookies)</h2>
        <p>
            Depending on where the cookie comes from, it can be either a first-party or third-party cookie. A first-party cookie is a file that you receive directly from us when
            you visit our website. Third-party cookies are files obtained from other organizations, such as Google or Facebook. We do not control the actions of third parties on
            other websites. However, we may work with some providers.
        </p>
        <p>
            We may work with third parties, such as Google or Facebook, so that their cookies can operate on our website, allowing us to learn more about your online experience on
            our website and better personalize our services for you.
        </p>

        <h2>Various types of cookies and what they are used for</h2>
        <p>
            Below are the various types of cookies that may be used on this website. These cookies perform different functions and can be either first-party or third-party,
            persistent or session cookies.
        </p>

        <p>
            <b>Strictly necessary cookies:</b> cookies without which you would not be able to use the website. For example, strictly necessary cookies adapt the website's data
            transmission to your internet connection, allow you to access secure versions of the website, and help us provide the services you request. If you configure your
            browser to block these cookies, some parts of the site will not work. Strictly necessary cookies do not store any personal data.
        </p>

        <p>
            <b>Performance cookies:</b> performance cookies track visits and traffic sources to measure and improve the performance of the website. They help us understand which
            pages are most and least popular and how users navigate the site. Performance cookies do not store any personal data.
        </p>

        <p>
            <b>Functional cookies:</b> these cookies allow the website to remember choices you have made and provide enhanced functionality and more personalized features.
            Depending on the context, functional cookies may store certain types of Personal Data required to ensure the functionality of targeting/marketing cookies:
        </p>

        <ul>
            <li>
                Targeting cookies help manage advertisements and display them based on your activity on the website and other websites; this is known as interest-based advertising.
            </li>
            <li>
                Targeting cookies primarily work by uniquely identifying your browser and internet device.
            </li>
        </ul>

        <p>
            <b>Social media cookies:</b> social media cookies facilitate sharing information on social networks, provide tools for connecting to the site, and help us better
            understand both the website's audience and the effectiveness of our activities on social networks. These are third-party cookies. Your choice regarding such cookies is
            determined by the social media platforms where you have accounts.
        </p>

        <h2>How do such technologies work?</h2>
        <p>
            Tagging works similarly to cookies and is also called a pixel. A pixel is an image that, when placed in an email message, references a file stored on a web server,
            allowing service providers to assess customer interest in their marketing messages and promotional activities. They can use this information to send you offers that
            seem more relevant to you. Tags can also be called beacons.
        </p>

        <h2>Should I accept cookies?</h2>
        <p>
            You can opt out of cookies, but it will affect the functionality of the site. Cookies help our websites and applications function properly and personalize your
            experience. You can browse the website without cookies, but some standard features, settings, and functionalities may not work.
        </p>
        <p>
            By accepting cookies, you allow us to enhance your experience and remember information about you, which can personalize your experience. To withdraw your consent, you
            can opt out of using cookies or delete them. For information on how to adjust your browser settings, see the "Cookie Management" section below.
        </p>

        <h2>Agreement</h2>
        <p>
            By browsing or using our site, you agree that we and selected third parties in this notice may use (as described in this policy) the data collected through cookies that
            you allow. If you do not agree, you can withdraw your consent by adjusting your browser settings to refuse cookies, as described in the next section.
        </p>

        <h2>Cookie Management</h2>
        <p>
            There are several ways to manage cookies. You can:
        </p>

        <ul>
            <li>
                Configure your browser to not accept cookies. More detailed information should be available in the "Help" menu of your browser. How you set up your browser will
                depend on which browser you are using.
            </li>
            <br/>
            <li>
                Configure browser to notify you when a website tries to place a cookie in your browser.
                <br/>
                <br/>
                <ul>
                    <li>
                        <b>Google Chrome:</b>
                        <ol>
                            <li>Click on the three-dot menu icon in the top right corner.</li>
                            <li>Go to "Settings" > "Privacy and security" > "Cookies and other site data".</li>
                            <li>Toggle on "Ask before sending (recommended)" under "Cookies and site data".</li>
                        </ol>
                    </li>
                    <br/>
                    <li>
                        <b>Mozilla Firefox:</b>
                        <ol>
                            <li>Click on the menu icon (three horizontal lines) in the top right corner.</li>
                            <li>Go to "Preferences" > "Privacy & Security".</li>
                            <li>Under "History", set "Firefox will" to "Use custom settings for history".</li>
                            <li>Check the box for "Warn you when websites try to install cookies".</li>
                        </ol>
                    </li>
                    <br/>
                    <li>
                        <b>Microsoft Edge:</b>
                        <ol>
                            <li>Click on the three-dot menu icon in the top right corner.</li>
                            <li>Go to "Settings" > "Privacy, search, and services".</li>
                            <li>Under "Cookies and site permissions", click on "Cookies and site data".</li>
                            <li>Turn on the setting for "Ask before sending".</li>
                        </ol>
                    </li>
                    <br/>
                    <li>
                        <b>Safari:</b>
                        <ol>
                            <li>Click on "Safari" in the top menu bar and select "Preferences".</li>
                            <li>Go to the "Privacy" tab.</li>
                            <li>Check the box for "Block all cookies" or select "Block only third-party cookies" to receive notifications for first-party cookies.</li>
                        </ol>
                    </li>
                </ul>
            </li>
            <br/>
            <li>
                Blocking cookies by activating a setting in your browser that allows you to reject all or some cookies. However, if you use your browser settings to block all
                cookies, including strictly necessary cookies, access to the website and its functions may be limited or unavailable.
            </li>
            <br/>
            <li>
                Delete the cookies stored in your browser by using the "clear cookies" function. This will only delete the cookies that are already stored. It won't prevent new
                requests unless you change your acceptance settings. Also, clearing cookies in one browser on one device does not automatically delete them on another device. In
                any case, you need to clear all browsers on all devices.
            </li>
        </ul>

        <p>
            Help with managing cookies and deleting them can be found on the website www.aboutcookies.org.
        </p>
        <p>
            We are not responsible for the content or cookies on external websites. If you follow a link from our site to a third-party site, that third-party site will have its
            own privacy and cookie policy.
        </p>
        <p>
            Please note that limiting or disabling cookies may restrict functionality and interfere with the proper operation of websites.
        </p>

        <h2>Please remember</h2>
        <p>
            If your device is used by multiple people, the choices set by others will also apply to you unless you change them. For example, if you share a computer with your
            family, you may see ads based on the sites they visit as well as the sites you visit.
        </p>
        <p>
            Cookies already present on your device. Disabling one or more types of cookies will not lead to the deletion of cookies that were previously loaded.
        </p>
        <p>
            Our online services may provide links to websites that are not operated by us, but by third parties. If you visit one of these linked websites, this Cookie Notice and
            Social Media or the Privacy Policy of this website no longer apply. Any browsing or interaction on another website is governed by the terms, conditions, and rules
            presented on those sites, which we recommend you read. We are not responsible for the policy and actions of third parties. Any information provided to these
            organizations is processed in accordance with their privacy and cookie policies.
        </p>

        <h2>Contact Us</h2>
        <p>
            If you have any questions about this Cookie Policy, You can contact us:
        </p>

        <ul>
            <li>
                By email: contact@reviewly.space
            </li>
            <li>
                By contact form sending on <a class="link" th:href="${@applicationProperties.selfHost}" target="_blank">https://reviewly.space</a> page
            </li>
        </ul>
    </section>
</div>
</body>
</html>