<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pageLayout(pageClass='error')}"
      lang="en">
<head>
    <title>Error</title>

    <link th:href="@{/css/error.css}" rel="stylesheet"/>
</head>
<body>
<div class="page-content" layout:fragment="page-content">
    <section class="section">
        <h1 class="section-header">Grats. You broke it!</h1>
        <h2 class="description">Feel free to use our site navigation =)</h2>

        <span class="or">or</span>

        <a class="link big prefix-link-icon create-new-account" href="/">
            <th:block th:replace="~{components/svgs::icon-link}"/>
            Go back to Home
        </a>
    </section>
</div>
</body>
</html>