@import "globalsLess";

.edit-user-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .edit-form-panel {
    position: relative;
    max-width: 840px;
    min-width: 540px;
    min-height: 404px;
    width: 100%;
    padding: 28px 48px;

    .edit-header {
      .fontInterRegular();
      font-size: 28px;
      color: @system-color-dark-300;
      text-align: center;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .edit-loading-spinner {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }
}
