<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;">

<h1>Reviewly</h1>

<h2>
    Welcome, <b th:text="${user.fullName}">Some template</b>!
</h2>

<p style="margin-bottom: 34px">
    You registration process almost finished.
    <br/>
    Just confirm your email.
</p>

<p style="margin-bottom: 34px">
    <a th:href="${confirmationLink}" target="_blank" style="font-size: 18px; padding: 10px; background-color: #5281ff; border-radius: 8px; color: white; cursor: pointer; text-decoration: none">
        Confirm my email
    </a>
</p>

<p>
    <i>
        Regards, <br/>
        Reviewly team
    </i>
</p>
</body>
</html>