@import "globalsLess";

.sign-up-form {
    form {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .confirm-password {
            margin-bottom: 10px;
        }

        .cookie-privacy-policies {
            margin: 0;
            .fontOutfitRegular(14px);
            color: @black-alpha-60;

            .link {
                .fontOutfitRegular(14px);
            }
        }

        .submit {
            width: 100%;
        }
    }
}
