@import "globalsLess";

.field-container {
    width: 100%;

    .field-label {
        display: block;
        margin-bottom: 8px;
        .fontOutfitRegular(12px);
        color: @brown-soft;
    }

    .field {
        display: flex;
        align-items: center;
        position: relative;
        height: 50px;
        width: 100%;
        border: solid 1px transparent;
        border-radius: 6px;
        background-color: @white;

        input {
            width: 100%;
            height: 100%;
            border: none;
            .fontOutfitRegular(16px);
            color: @brown-dark;
            padding: 0 20px;
            background-color: transparent;

            &, &:focus, &:active {
                border-color: transparent;
                outline: none;
            }

            &::placeholder {
                color: @black-alpha-25;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-background-clip: text;
                -webkit-text-fill-color: @brown-dark;
                -webkit-box-shadow: 0 0 0 1000px transparent inset;
                box-shadow: 0 0 0 1000px transparent inset;
            }
        }

        .extra-component {
            .button {
                height: 40px;
            }
        }
    }

    &.secondary .field {
        background-color: @beige-alpha-8;
    }

    &.with-left-extra .field {
        padding-left: 5px;
    }

    &.with-right-extra .field {
        padding-right: 5px;
    }

    &.with-message .field {
        margin-bottom: 4px;
    }

    &.disabled {
        opacity: 0.5;

        .field {
            pointer-events: none;
        }
    }

    .message {
        .fontOutfitMedium(12px);
        color: @brown-dark;
    }

    &.invalid {
        .field {
            border-color: @red;
        }

        .message {
            color: @red;
        }
    }
}