@font-face {
  font-family: "Outfit-Medium";
  src: url("../font/Outfit-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Outfit-Regular";
  src: url("../font/Outfit-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
