.console-sider {
    min-height: 100vh;

    .reviewly-logo {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            width: 30px;
            height: 30px;

            path {
                fill: #EB5757;
            }
        }
    }
}