@import "globalsLess";

.textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid @primary-color;
  padding: 16px;
  .fontMulishRegular();
  font-size: 16px;
  color: @text-color;

  .resizable {
    resize: both;
  }

  &, &:focus, &:active {
    outline: none;
  }

  &.disabled {
    border-color: @secondary-color;
  }

  &:hover {
    box-shadow: 0 0 11px 0 fade(@primary-color, 20%);
  }

  &:focus, &:active {
    box-shadow: 0 0 11px 3px fade(@primary-color, 20%);
  }

  &.invalid {
    border-color: @error-color;
    color: @error-color;

    &::placeholder {
      color: fade(@error-color, 70%)
    }

    &:hover {
      box-shadow: 0 0 11px 0 fade(@error-color, 20%);
    }

    &:focus, &:active {
      box-shadow: 0 0 11px 3px fade(@error-color, 20%);
    }
  }
}
