<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reviewly</title>

    <link rel="icon" type="image/x-icon" th:href="@{/img/favicons/favicon.ico}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicons/favicon-16x16.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="48x48" th:href="@{/img/favicons/favicon-48x48.png}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/favicons/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/favicons/apple-touch-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/favicons/apple-touch-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/favicons/apple-touch-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/favicons/apple-touch-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/favicons/apple-touch-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/favicons/apple-touch-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="167x167" th:href="@{/img/favicons/apple-touch-icon-167x167.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicons/apple-touch-icon-180x180.png}">
    <link rel="apple-touch-icon" sizes="1024x1024" th:href="@{/img/favicons/apple-touch-icon-1024x1024.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-640x1136.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-1136x640.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-750x1334.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-1334x750.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-1125x2436.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2436x1125.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-1170x2532.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2532x1170.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-828x1792.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-1792x828.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-1242x2688.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2688x1242.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-1242x2208.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2208x1242.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-1284x2778.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2778x1284.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-1536x2048.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2048x1536.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-1620x2160.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2160x1620.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-1668x2388.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2388x1668.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-1668x2224.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2224x1668.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" th:href="@{/img/favicons/apple-touch-startup-image-2048x2732.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" th:href="@{/img/favicons/apple-touch-startup-image-2732x2048.png}">

    <link th:href="@{/css/fonts.css}" rel="stylesheet"/>
    <link th:href="@{/css/components.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/js/crypto.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/components.js}"></script>
    <script type="text/javascript" th:src="@{/js/share-modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

    <th:block th:if="${customSocialMeta != true}">
        <meta property="og:url" th:content="${@applicationProperties.selfHost}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="Unlock Honest Feedback for Every Website"/>
        <meta property="og:description" content="Find reviews faster and make choices easier with Reviewly. Reviewly Integrated into the browser and allows you to read reviews and leave your opinion about any site without leaving it"/>

        <meta property="twitter:title" content="Reviewly - Unlock Honest Feedback for Every Website">
        <meta property="twitter:description" content="Find reviews faster and make choices easier with Reviewly. Reviewly Integrated into the browser and allows you to read reviews and leave your opinion about any site without leaving it">
        <meta name="twitter:card" content="summary_large_image">

        <meta property="og:image" th:content="${@applicationProperties.selfHost + '/img/metaimage_1200_628_00.png'}"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="628"/>

        <meta property="fb:image" th:content="${@applicationProperties.selfHost + '/img/metaimage_1200_628_00.png'}"/>
        <meta property="fb:image:width" content="1200"/>
        <meta property="fb:image:height" content="628"/>

        <meta property="twitter:image" th:content="${@applicationProperties.selfHost + '/img/metaimage_1024_512_00.png'}">
        <meta property="twitter:image:width" content="1024"/>
        <meta property="twitter:image:height" content="512"/>

        <meta property="vk:image" th:content="${@applicationProperties.selfHost + '/img/metaimage_1024_512_00.png'}">
        <meta property="vk:image:width" content="1024"/>
        <meta property="vk:image:height" content="512"/>
    </th:block>

    <th:block th:if="${@applicationProperties.runMode == T(space.reviewly.backend.config.RunMode).PROD}">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E03HG0FX99"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-E03HG0FX99');
        </script>
    </th:block>
</head>

<body>
    <div class="page" th:classappend="${pageClass}">
        <header class="header">
            <div class="header-content">
                <nav class="navigation">
                    <a class="button light" th:classappend="${activeNavigation == 'home' ? 'active' : ''}" href="/">Home</a>
                    <a class="button light" th:classappend="${activeNavigation == 'sitesRating' ? 'active' : ''}" href="/web-resources/sites-rating">Sites rating</a>
                    <a class="button light" th:classappend="${activeNavigation == 'reviews' ? 'active' : ''}" href="/reviews/see-reviews">Reviews</a>
                </nav>
                <div class="logo-container">
                    <a class="logo-link" href="/">
                        <th:block th:replace="~{components/svgs::icon-logo}"/>
                    </a>
                </div>
                <div class="right-control-container">
                    <a th:href="${@applicationProperties.downloadExtensionChrome}" target="_blank" class="button primary">
                        <th:block th:replace="~{components/svgs::icon-chrome}"/>
                        Download for chrome
                    </a>

                    <a th:href="${@applicationProperties.profilePageUrl}" class="button profile" th:if="${userFullName != null}">
                        <th:block th:replace="~{components/svgs::icon-user}"/>
                    </a>
                    <a th:href="${loginUrl}" class="button login" th:if="${userFullName == null}">
                        <th:block th:replace="~{components/svgs::icon-login}"/>
                        Login
                    </a>
                </div>
            </div>
        </header>

        <div class="page-content" layout:fragment="page-content">
            <h1>! SOME LAYOUT ERROR !</h1>
        </div>

        <footer class="footer">
            <div class="footer-section first">
                <div class="logo-container">
                    <th:block th:replace="~{components/svgs::icon-logo}"/>
                    <span class="logo-text">Reviewly</span>
                </div>
            </div>
            <div class="footer-section second">
                <div class="contacts-container">
                    <h3 class="contacts-header">Contacts</h3>
                    <p class="contact" th:text="${'M. ' + @applicationProperties.contactEmail}">! ERROR !</p>
                    <p class="contact">W. reviewly.space</p>
                </div>
            </div>
            <div class="footer-section third">
                <div class="policies-container">
                    <a class="link" href="/privacy-policy">Privacy Policy</a>
                    <a class="link" href="/cookie-policy">Cookie Policy</a>
                </div>
            </div>
            <div class="footer-section fourth">
                <a th:href="${@applicationProperties.signUpPageUrl}" class="button primary submit-form" th:if="${userFullName == null}">
                    <th:block th:replace="~{components/svgs::icon-play}"/>
                    Start for free
                </a>
            </div>
        </footer>

        <div class="terms">
            <div class="terms-section first">
                &#169; Reviewly 2021. All rights reserved.
            </div>
            <div class="terms-section second">
                <button class="button" onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
                    Back to top
                    <th:block th:replace="~{components/svgs::icon-arrow}"/>
                </button>
            </div>
            <div class="terms-section third">
                <a href="https://third-dimension.agency" class="link" target="_blank">Website by Third Dimension Studio</a>
            </div>
        </div>

        <div class="global-notifications">
            <div class="notification-block" id="cookies-privacy-policies-banner">
                <button class="close-notification"><th:block th:replace="~{components/svgs::icon-close}"/></button>

                <p class="notification-text">
                    This service uses cookies. By using Reviewly, you agree to our <a class="link" href="/privacy-policy" target="_blank">Privacy Policy</a> and <a class="link" href="/cookie-policy" target="_blank">Cookie Policy</a>.
                </p>

                <div class="notification-actions">
                    <button class="button primary small main-action">
                        <th:block th:replace="~{components/svgs::icon-checked}"/>
                        Understood
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>