<div class="pages-navigator" th:classappend="${class != null ? class : ''}" th:fragment="pages-navigator-component(
    urlPrefix,
    currentPageNumber,
    isLast,
    prevButtonText,
    nextButtonText,
    class
  )">
    <div class="previous-page-nav-container">
        <a th:if="${currentPageNumber > 0}" th:href="${urlPrefix + (currentPageNumber - 1)}" class="link">
            <div class="icon arrow-icon"></div>
            <th:block th:text="${prevButtonText != null ? prevButtonText : 'Prev page'}">! ERROR !</th:block>
        </a>
    </div>
    <div class="next-page-nav-container">
        <a th:if="${!isLast}" th:href="${urlPrefix + (currentPageNumber + 1)}" class="link">
            <th:block th:text="${nextButtonText != null ? nextButtonText : 'Next page'}">! ERROR !</th:block>
            <div class="icon arrow-icon"></div>
        </a>
    </div>
</div>