<div class="pages-navigator" th:classappend="${class != null ? class : ''}" th:fragment="pages-navigator-component(
    urlPrefix,
    currentPageNumber,
    pagesCount,
    class
  )">
    <div class="previous-page-nav-container">
        <a th:href="${urlPrefix + (currentPageNumber - 1)}" th:classappend="${currentPageNumber > 0 ? '' : 'disabled'}" class="link">
            <div class="icon arrow-icon"></div>
            Prev
        </a>
    </div>

    <div class="pages">
        <a class="button secondary small"
           th:each="i: ${#numbers.sequence(0, pagesCount - 1)}"
           th:text="${i + 1}"
           th:classappend="${currentPageNumber == i ? 'active' : ''}"
           th:href="${urlPrefix + i}">
            !ERROR!
        </a>
    </div>

    <div class="next-page-nav-container">
        <a th:href="${urlPrefix + (currentPageNumber + 1)}" th:classappend="${pagesCount != (currentPageNumber + 1) ? '' : 'disabled'}" class="link">
            Next
            <div class="icon arrow-icon"></div>
        </a>
    </div>
</div>