<div th:fragment="site-card-component(siteResource, class)"
     th:classappend="${class != null ? class : ''}"
     th:replace="~{components/card::card-component(~{::#cardContent}, 'site-card')}">

    <th:block id="cardContent">
        <div class="site-rating" th:classappend="${(siteResource.rating >= 4 ? 'good-rating' : (siteResource.rating >= 2 ? 'medium-rating' : 'bad-rating'))}">
            <span class="rating-label">Rating</span>
            <span th:text="${#numbers.formatDecimal(siteResource.rating, 1, 1, 'POINT')}"
                  class="rating-value">
                4.8
            </span>
        </div>

        <div class="site-rating-info">
            <h2 th:text="${T(com.responser.backend.utils.UrlUtils).getHost(siteResource.url)}" class="site-name">!ERROR!</h2>
            <div class="site-reviews">
                <span class="value" th:text="${siteResource.reviewsCount + ' Site reviews'}">!ERROR!</span>
            </div>
        </div>

        <div class="actions">
            <a th:href="${'/web-resources/' + siteResource.id}" class="button secondary">See details</a>
        </div>
    </th:block>
</div>