@import "globalsLess";

.password {
    .show-password-button {
        &, &:hover {
            border: none;
            background-color: transparent;
        }

        .icon {
            width: 18px;
            height: 18px;

            g path {
                stroke: @black-alpha-60;
                stroke-opacity: 0.5;
                transition: stroke-opacity 0.15s;
            }
        }

        &:hover .icon g path {
            stroke-opacity: 1;
        }
    }
}