@import "globalsLess";

.icon {
  .logout {
    transform: rotate(180deg) rotate(-180deg);
    transform-origin: 50% 50%;
  }

  &.spinner_circle {
    path:first-child {
      stroke: transparent !important;
    }
  }
}
