@import "globalsLess";

.my-profile-page-item {
    .page-name {
        margin-bottom: 60px;
    }

    .edit-user-form-container{
        width: 460px;
    }
}

.result-modal {
    .modal {
        width: 360px;
        height: 236px;

        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            border-radius: 20px;
            padding: 20px 30px 30px 30px;

            .result-text {
                color: @black-alpha-60;
                text-align: center;
                width: 346px;
                margin: 20px 0 0;
            }

            .button {
                width: 100%;
            }
        }
    }
}
