@import "globalsLess";

.field-layout {
    display: flex;

    &.inline {
        flex-direction: row;
        align-items: center;

        .label {
            margin-right: 12px;
        }
    }

    &.column {
        flex-direction: column;

        .label {
            margin-bottom: 10px;
        }
    }

    .label {
        .fontOutfitRegular(14px);
        color: @black-alpha-60;
    }
}
