.create-fake-review-container {
    .create-fake-review-block {
        width: 1000px;

        &.web-resource-parameters-container {
            .resource-type-radio {
                margin-bottom: 10px;
            }

            .resource-url-input {
                width: 100%;
            }
        }

        &.user-parameters-container {
            .user-full-name-input {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    .create-fake-review-preview {
        width: 1000px;

        .review-ids {
            margin-bottom: 10px;

            .ant-input-group-wrapper {
                margin-bottom: 4px;
            }
        }

        .rating-slider {
            margin-top: 50px;
            margin-bottom: 30px;
            width: 300px;
        }
    }
}