@import "globalsLess";

.edit-review-header {
    height: 80px;
    gap: 12px;

    .main-content {
        .header-label {
            text-align: center;
            color: @brown-dark;
            .fontOutfitMedium(12px);
        }
    }

    .additional-content {
        display: flex;
        align-items: center;
        justify-content: center;
        .fontOutfitMedium(14px);
        color: @black-alpha-60;
    }
}
