@import "globalsLess";

.drop-down-menu-button {
    position: relative;

    .drop-down-menu {
        top: 46px;
        position: absolute;
        display: none;
        z-index: 1;
        background-color: @system-color-light-100;
        border-radius: 8px;
    }

    &.active {
        .drop-down-menu {
            display: block;
        }
    }
}
