@import "globalsLess";

.reviews-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .app-footer {
        display: flex;
        gap: 10px;

        .logout {
            margin-left: auto;
        }
    }
}
