* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Outfit-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #F9F8F6;
  margin: 0;
}
