.sign-in-page {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 30px 50px;
}

.sign-in-form-panel {
  padding: 28px 48px;
  max-width: 740px;
  min-width: 540px;
  width: 100%;
}

.sign-in-page .sign-in-form-panel .sign-in-header {
  font-family: "Inter-Regular";
  font-size: 28px;
  color: #555770;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.sign-in-form .field-layout {
  margin-bottom: 20px;
}

.sign-in-form .button:not(:last-child) {
  margin-bottom: 24px;
}

.sign-in-form .button {
  width: 100%;
}

.sign-up-offer, .sign-up-link {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sign-up-offer{
  font-family: "Inter-Medium";
  margin-bottom: 6px;
  font-size: 14px;
}

.sign-up-link {
  font-family: "Inter-Medium";
  font-size: 16px;
  text-decoration: none;
  color: #6690FF;
  cursor: pointer;
}

.sign-up-link:hover {
  color: #3366FF
}

.sign-up-link.disabled {
  color: #28293D;
  pointer-events: none;
}

.error {
  font-family: "Inter-Regular";
  font-size: 14px;
  color: #DB2A30;
  display: block;
  text-align: center;
  margin-bottom: 12px;
}
