@import "globalsLess";

.app-header {
  display: flex;
  background-color: @system-color-light-100;
  height: 86px;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  .stackShadow3();

  .header-title {
    display: flex;
    align-items: center;
    .fontInterBold();
    font-size: 38px;
    color: @system-color-dark-400;

    .icon {
      height: 28px;
      margin-right: 4px;
    }
  }

  .user-block {
    display: flex;

    .user-info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 16px;

      .user-alert {
        height: 22px;
        width: 22px;

        .icon {
          height: 100%;
          width: 100%;
          cursor: pointer;

          path {
            stroke: @system-color-danger-400;
          }
        }
      }

      .user-alert-tooltip {
        z-index: 1;
        border-radius: 8px;
        padding: 18px;
        width: 370px;

        h3 {
          .fontInterBold();
          margin-top: 0;
          margin-bottom: 14px;
        }

        p {
          .fontInterRegular();
          margin-top: 0;
          margin-bottom: 26px;
        }

        .button {
          width: 100%;
        }

        .confirmation-link-sent-icon-container {
          display: flex;
          justify-content: center;
          align-items: center;

          .icon {
            width: 36px;
            height: 36px;

            path {
              stroke: @system-color-success-500;
            }
          }
        }
      }

      .user-full-name {
        .fontInterBold();
        color: @text-color;
        font-size: 20px;
        margin-left: 10px;
      }
    }
  }
}