@import "globalsLess";

.header {
    //background: linear-gradient(@ivory, transparent);
    background: @ivory;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    top: 0;

    .adaptationComplex(
    {
        padding-left: 60px;
        padding-right: 60px;
    },
    {
        padding-left: 30px;
        padding-right: 30px;
    },
    {
        padding-left: 30px;
        padding-right: 30px;
    },
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    );

    .header-content {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .adaptationComplex(
        {
            height: 98px;
        },
        {
            height: 90px;
        },
        {
            height: 90px;
        },
        {
            height: 70px;
        }
        );

        .navigation {
            display: flex;

            .button {
                .adaptationComplex(
                {
                    padding: 0 30px;
                },
                {
                    padding: 0 24px;
                },
                {
                    padding: 0 18px;
                },
                {
                    padding: 0 10px;
                }
                );

                &.active {
                    background-color: @blue-alpha-10;
                }
            }
        }

        .logo-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .right-control-container {
            display: flex;
            align-items: center;
            gap: 6px;

            .button.primary {
                height: 36px;
            }
        }
    }
}
