@import "globalsLess";

.app-header {
  display: flex;
  background-color: @system-color-light-100;
  height: 86px;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  .stackShadow3();

  .header-title {
    .fontInterBold();
    font-size: 38px;
    color: @system-color-dark-400;
  }

  .user-block {
    display: flex;
    cursor: pointer;

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      padding-right: 16px;

      .user-full-name {
        .fontInterBold();
        color: @text-color;
        font-size: 20px;
      }
    }
  }
}