@import "globalsLess";

.remove-review-confirmation {
    .modal {
        width: 360px;
        height: 250px;

        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            border-radius: 20px;

            .remove-question, .confirmation-controls {
                width: 300px;
            }

            .remove-question {
                margin: 0;
                text-align: center;
                .fontOutfitRegular(24px);
                color: @black-alpha-60;
            }

            .confirmation-controls {
                display: flex;
                gap: 6px;

                .button {
                    flex: 1;
                    height: 44px;
                }
            }
        }
    }
}
