@import "globalsLess";

.responses {
  padding: 8px;

  .response {
    background-color: @white-color;
    margin-bottom: 8px;
    padding: 10px 14px;
    box-shadow: 0 0 4px rgb(178 183 219 / 20%);

    &.current-user {
      border: solid 1px red;
    }

    .rating .star {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }
}
