@import "globalsLess";

.responses-page {
  display: flex;
  flex-direction: column;

  .header {
    padding: 10px 14px;
    display: flex;
    align-items: center;
    background-color: @white-color;

    .domain {
      .fontMulishRegular();
      font-size: 20px;
    }
  }

  .responses {
    height: 334px;
    overflow-y: scroll;
  }

  .leave-response-container {
    padding: 5px;

    .button {
      width: 100%;
    }
  }
}