<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Reviewly - Login</title>

    <link th:href="@{/css/components-style.css}" rel="stylesheet"/>
    <link th:href="@{/css/sign-in-style.css}" rel="stylesheet"/>

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="48x48" th:href="@{/images/favicon-48x48.png}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/apple-touch-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/apple-touch-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/apple-touch-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/apple-touch-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/apple-touch-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/apple-touch-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/apple-touch-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="167x167" th:href="@{/images/apple-touch-icon-167x167.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon-180x180.png}">
    <link rel="apple-touch-icon" sizes="1024x1024" th:href="@{/images/apple-touch-icon-1024x1024.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-640x1136.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-1136x640.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-750x1334.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-1334x750.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-1125x2436.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2436x1125.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-1170x2532.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2532x1170.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-828x1792.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-1792x828.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-1242x2688.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2688x1242.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-1242x2208.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2208x1242.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-1284x2778.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2778x1284.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-1536x2048.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2048x1536.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-1620x2160.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2160x1620.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-1668x2388.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2388x1668.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-1668x2224.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2224x1668.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
          th:href="@{/images/apple-touch-startup-image-2048x2732.png}">
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
          th:href="@{/images/apple-touch-startup-image-2732x2048.png}">
</head>
<body>

<div class="app-header">
    <div class="header-title">
        <svg width="1em" height="1em" viewBox="0 0 228 228" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon reviewly_logo">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0 14C0 6.268 6.268 0 14 0h77.258c9.692 0 16.452 9.611 13.175 18.733l-24.655 68.63c-3.277 9.12 3.483 18.732 13.175 18.732l120.356.001c7.732 0 13.999 6.268 13.999 14V214c0 7.732-6.268 13.999-13.999 13.999h-7.289c-3.29 0-6.475-1.159-8.996-3.273L84.388 130.255c-7.464-6.26-18.879-3.174-22.172 5.993l-29.633 82.486A14 14 0 0 1 19.408 228H14c-7.732 0-14-6.268-14-14V14Zm151.264 34.21c-3.311 9.128 3.451 18.772 13.161 18.772H214c7.732 0 14-6.268 14-14V14c0-7.732-6.268-14-14-14h-35.438a13.998 13.998 0 0 0-13.16 9.227l-14.138 38.982Z"
                  fill="#516DFF"></path>
        </svg>
        Reviewly
    </div>
</div>

<div class="sign-in-page">
    <div class="sign-in-form-panel">
        <h2 class="sign-in-header">Sign in</h2>

        <div class="sign-in-form">
            <form th:action="@{/login}" method="POST" class="form-sign-in">
                <div class="field-layout column">
                    <span class="label">Username or email</span>
                    <input type="text" name="username" placeholder="Username or email" class="field" id="username">
                </div>
                <div class="field-layout column">
                    <span class="label">Password</span>
                    <input type="password" name="password" placeholder="Password" class="field" id="password">
                </div>

                <button type="Submit" class="button primary" id="submit" th:text="Login"></button>

                <span th:if="${param.error}" class="error">Email or Password is invalid.</span>

                <div>
<!--                    <span class="sign-up-offer">Still don't have an account?</span>-->
                    <a th:href="${registrationPageUrl}" class="sign-up-link" id="sign-up-link">Create new account</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>