<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/components-style.css}" rel="stylesheet"/>
    <link th:href="@{/css/sign-in-style.css}" rel="stylesheet"/>
</head>
<body>

<div class="app-header">
    <div class="header-title">Reviewly</div>
</div>

<div class="sign-in-page">
    <div class="sign-in-form-panel">
        <h2 class="sign-in-header">Sign in</h2>

        <div class="sign-in-form">
            <form th:action="@{/login}" method="POST" class="form-sign-in">
                <div class="field-layout column">
                    <span class="label">Username or email</span>
                    <input type="text" name="username" placeholder="Username or email" class="field" id="username">
                </div>
                <div class="field-layout column">
                    <span class="label">Password</span>
                    <input type="password" name="password" placeholder="Password" class="field" id="password">
                </div>

                <button type="Submit" class="button primary" id="submit" th:text="Login"></button>

                <span th:if="${param.error}" class="error">Email or Password is invalid.</span>

                <div>
                    <span class="sign-up-offer">Still don't have an account?</span>
                    <a th:href="${registrationPageUrl}" class="sign-up-link" id="sign-up-link">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>