@import "globalsLess";

@tooltip-border-radius: 8px;
@tooltip-margin: 6px;

.tooltip-container {
    position: relative;

    .tooltip {
        width: 150px;
        position: absolute;
        padding: 8px;
        background-color: @gray-light;
        .fontOutfitMedium(12px);
        color: @black-alpha-60;
        transform: scale(0);
        opacity: 0;
        transition-delay: 300ms;
        transition-duration: 0.15s, 0.1s;
        transition-property: transform, opacity;
        box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 10px rgba(96, 97, 112, 0.16);
    }

    &.show {
        .tooltip {
            transform: scale(1);
            opacity: 1;
        }
    }

    &.left {
        .tooltip {
            transform-origin: top left;
            top: 50%;
            right: calc(-100% - @tooltip-margin);

            border-top-left-radius: @tooltip-border-radius;
            border-bottom-left-radius: @tooltip-border-radius;
            border-bottom-right-radius: @tooltip-border-radius;
        }
    }

    &.right {
        .tooltip {
            transform-origin: top right;
            top: 50%;
            left: calc(100% + @tooltip-margin);

            border-top-right-radius: @tooltip-border-radius;
            border-bottom-left-radius: @tooltip-border-radius;
            border-bottom-right-radius: @tooltip-border-radius;
        }
    }

    &.top {
        .tooltip {
            transform-origin: bottom left;
            bottom: calc(100% + @tooltip-margin);
            left: 0;

            border-top-right-radius: @tooltip-border-radius;
            border-top-left-radius: @tooltip-border-radius;
            border-bottom-right-radius: @tooltip-border-radius;
        }
    }

    &.bottom {
        .tooltip {
            transform-origin: top left;
            top: calc(100% + @tooltip-margin);
            left: 0;

            border-top-right-radius: @tooltip-border-radius;
            border-bottom-left-radius: @tooltip-border-radius;
            border-bottom-right-radius: @tooltip-border-radius;
        }
    }
}