@primary-color-darker: #254EDA;
@primary-color-main: #3366FF;
@primary-color-lighter: #6690FF;

@system-color-pending-100: #D8F3FE;
@system-color-pending-200: #B2E4FD;
@system-color-pending-300: #8DD1FE;
@system-color-pending-400: #70BEFE;
@system-color-pending-500: #41A0FC;
@system-color-pending-600: #2F7CD8;
@system-color-pending-700: #205BB5;
@system-color-pending-800: #134091;
@system-color-pending-900: #0C2E78;

@system-color-success-100: #D6FDD1;
@system-color-success-200: #A7F9A7;
@system-color-success-300: #78ED84;
@system-color-success-400: #54DC6E;
@system-color-success-500: #23C653;
@system-color-success-600: #1AAA52;
@system-color-success-700: #118D4E;
@system-color-success-800: #0B7247;
@system-color-success-900: #065F43;

@system-color-warning-100: #FFFCD7;
@system-color-warning-200: #FFF9AF;
@system-color-warning-300: #FFF589;
@system-color-warning-400: #FFF16C;
@system-color-warning-500: #FFEC3A;
@system-color-warning-600: #DBC72A;
@system-color-warning-700: #B6A41C;
@system-color-warning-800: #938111;
@system-color-warning-900: #7A6A0B;

@system-color-danger-100: #FFE6D7;
@system-color-danger-200: #FFC9B1;
@system-color-danger-300: #FFA288;
@system-color-danger-400: #FF7F6A;
@system-color-danger-500: #FF4539;
@system-color-danger-600: #DB2A30;
@system-color-danger-700: #B81D2F;
@system-color-danger-800: #93132C;
@system-color-danger-900: #7A0B2B;

@system-color-light-100: #FFFFFF;
@system-color-light-200: #FAFAFC;
@system-color-light-300: #F2F2F5;
@system-color-light-400: #EBEBF0;
@system-color-light-500: #E3E4EB;

@system-color-dark-100: #C7C8D9;
@system-color-dark-200: #8E90A6;
@system-color-dark-300: #555770;
@system-color-dark-400: #28293D;
@system-color-dark-500: #000000;