@import "mixins.less";

.icon {
  width: 12px;
  height: 12px;
  display: block;

  &.login-icon {
    .svgMask("/img/login.svg");
    width: 20px;
    height: 20px;
  }

  &.chrome-icon {
    .svgMask("/img/chrome.svg");
    width: 20px;
    height: 20px;
  }

  &.arrow-icon {
    .svgMaskWithSize("/img/arrow.svg", 8px, 14px);
    width: 8px;
    height: 14px;
  }

  &.big-arrow-icon {
    .svgMaskWithSize("/img/big-arrow.svg", 16px, 16px);
    width: 16px;
    height: 20px;
  }

  &.search-icon {
    .svgMaskWithSize("/img/search.svg", 16px, 16px);
    width: 16px;
    height: 16px;
  }
}
