// Box shadow mixins
.stackShadow3() {
  box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);
}

.stackShadow2() {
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16);
}

.svgMask(@svgPath) {
  -webkit-mask: url(@svgPath) center/20px 20px no-repeat;
  mask: url(@svgPath) center/20px 20px no-repeat;
}

.svgMaskWithSize(@svgPath, @width, @height) {
  -webkit-mask: url(@svgPath) center/@width @height no-repeat;
  mask: url(@svgPath) center/@width @height no-repeat;
}


// Adaptation mixins
.adaptationMobile(@rules) {
  @media screen and (min-width: 1px) and (max-width: 1023px) {
    @rules();
  }
}

.adaptationTablet(@rules) {
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    @rules();
  }
}

.adaptationSmallDesktop(@rules) {
  @media screen and (min-width: 1440px) and (max-width: 1919px) {
    @rules();
  }
}

.adaptationDesktop(@rules) {
  @media screen and (min-width: 1920px) {
    @rules();
  }
}

.doubleDPI(@rules) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    @rules();
  }
}

