filesPath=C:\\Users\\HP\\IdeaProjects\\Reviewly\\project\\reviewly-file-store-stub\\files_storage
sitesIconsPath=C:\\Users\\HP\\IdeaProjects\\Reviewly\\project\\reviewly-file-store-stub\\files_storage\\sites-icons
usersAvatarsPath=C:\\Users\\HP\\IdeaProjects\\Reviewly\\project\\reviewly-file-store-stub\\files_storage\\users-avatars