.page-content.error-content {
    display: flex;
    width: 100%;
    max-width: 1860px;
    flex: 1;

    background-color: rgba(159, 143, 135, 0.08);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    .error-page-header {
        margin: 0 0 30px;
    }

    .error-page-description, .or {
        margin: 0 0 20px;
    }

    .go-back-link {
        .icon {
            transform: rotate(180deg);
        }
    }
}
