@import "globalsLess";

.button {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  height: 40px;
  .fontInterMedium();
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &.small {
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;

    .spinner {
      width: 20px !important;
    }
  }

  .icon {
    height: 14px;
    width: 14px;
  }

  .spinner {
    width: 26px !important;
  }

  &.primary {
    color: @system-color-light-100;
    background-color: @primary-color-lighter;

    .spinner {
      color: @system-color-light-100 !important;
    }

    svg path {
      stroke: @system-color-light-100;
    }

    &:hover {
      background-color: darken(@primary-color-lighter, 4%);
    }

    &:active {
      background-color: darken(@primary-color-lighter, 6%);
    }
  }

  &.secondary {
    color: @system-color-dark-300;
    background-color: @system-color-light-100;
    border: solid 1px @system-color-dark-100;

    .spinner {
      color: @system-color-dark-300 !important;
    }

    svg path {
      stroke: @system-color-dark-300;
    }

    &:hover {
      background-color: @system-color-light-200;
    }

    &:active {
      background-color: darken(@system-color-light-200, 4%);
    }
  }

  &.disabled {
    color: @system-color-light-100;
    background-color: @system-color-light-500;
    pointer-events: none;
    border: none;

    .spinner {
      color: @system-color-light-100 !important;
    }

    svg path {
      stroke: @system-color-light-100;
    }
  }
}
