@import "globalsLess";

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 26px;
  padding-right: 26px;
  height: 50px;
  .fontInterMedium();
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s;

  .spinner {
    width: 20px !important;
  }

  .icon {
    height: 16px;
    width: 16px;
  }

  &.small {
    height: 38px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;

    .spinner {
      width: 14px !important;
    }

    .icon {
      height: 14px;
      width: 14px;
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &.primary {
    color: @system-color-light-100;
    background-color: @primary;

    .spinner {
      color: @system-color-light-100 !important;
    }

    svg path {
      stroke: @system-color-light-100;
    }

    &:hover {
      background-color: darken(@primary, 4%);
    }

    &:active {
      background-color: darken(@primary, 6%);
    }

    &.disabled {
      background-color: @primary-light-1;
    }
  }

  &.secondary {
    color: @primary;
    background-color: @primary-light-2;

    .spinner {
      color: @primary !important;
    }

    svg path {
      stroke: @primary;
    }

    &:hover {
      background-color: darken(@primary-light-2, 4%);
    }

    &:active {
      background-color: darken(@primary-light-2, 6%);
    }

    &.disabled {
      color: @primary-light-1;

      .spinner {
        color: @primary-light-1 !important;
      }

      svg path {
        stroke: @primary-light-1;
      }
    }
  }
}
