<div class="pages-navigator" th:classappend="${class != null ? class : ''}" th:fragment="pages-navigator-component(
    url,
    pageNumbnerVariableName,
    currentPageNumber,
    pagesCount,
    additionalParameters,
    class
  )">
    <form th:action="${url}" method="get" class="page-nav-container previous-page-nav-container" th:with="isDisabled=${currentPageNumber <= 0 || pagesCount == 0}">
        <input type="text" hidden="hidden" th:if="${additionalParameters != null}" th:each="entry: ${additionalParameters}" th:name="${entry.key}" th:value="${entry.value}">
        <input th:name="${pageNumbnerVariableName}" type="text" hidden="hidden" th:value="${currentPageNumber - 1}">

        <button type="submit" th:classappend="${isDisabled ? 'disabled' : ''}" class="link">
            <div class="icon arrow-icon"></div>
            Prev page
        </button>
    </form>

    <form th:action="${url}" method="get" class="page-nav-container next-page-nav-container" th:with="isDisabled=${pagesCount == (currentPageNumber + 1) || pagesCount == 0}">
        <input type="text" hidden="hidden" th:each="entry: ${additionalParameters}" th:name="${entry.key}" th:value="${entry.value}">
        <input th:name="${pageNumbnerVariableName}" type="text" hidden="hidden" th:value="${currentPageNumber + 1}">

        <button type="submit" th:classappend="${isDisabled ? 'disabled' : ''}" class="link">
            Next page
            <div class="icon arrow-icon"></div>
        </button>
    </form>
</div>