@import "globalsLess";

.link {
    text-decoration: none;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 6px;
    .fontOutfitRegular(18px);
    transition: color 0.15s;
    color: @black-alpha-60;

    .icon {
        width: 24px;
        height: 24px;

        rect {
            transition: fill 0.15s;
        }
    }

    &.big {
        .fontOutfitMedium(24px);

        .icon {
            width: 30px;
            height: 30px;
        }
    }

    &.small {
        .fontOutfitRegular(12px);

        .icon {
            width: 18px;
            height: 18px;
        }
    }

    &:hover {
        color: @green;

        .icon rect {
            fill: @green;
        }
    }
}
