@import "globalsLess";

.auth-code {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 62px;

    span {
        margin: 0;
        font-size: 24px;
        color: @black-alpha-60;
    }
}