@import "globalsLess";

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    height: 30px;
    line-height: 30px;
    .fontOutfitRegular(14px);
    padding-left: 10px;
    padding-right: 10px;
    color: @white;
    background-color: transparent;
    border: 1px solid @white;
    transition: background-color 0.15s, color 0.15s, border-color 0.15s;

    &:active, &:focus {
        outline: none;
    }

    &:hover {
        background-color: @gray;
        border-color: @gray;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .spinner {
        width: 14px !important;
    }

    .icon {
        width: 12px;
        height: 12px;

        path {
            transition: stroke 0.15s;
            stroke: @white;
        }

        rect {
            transition: fill 0.15s;
        }
    }

    &.primary {
        border: none;
        background-color: @white;
        color: @black-alpha-60;

        &:hover {
            background-color: @beige-alpha-60;
        }

        .icon {
            path {
                stroke: @black-alpha-60;
            }
        }
    }
}
