@font-face {
  font-family: "Inter-Thin";
  src: url("/font/Inter-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Inter-ExtraLight";
  src: url("/font/Inter-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Inter-Light";
  src: url("/font/Inter-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("/font/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("/font/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/font/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/font/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/font/Inter-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Inter-Black";
  src: url("/font/Inter-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
.icon {
  width: 12px;
  height: 12px;
  display: block;
}
.icon.login-icon {
  -webkit-mask: url("/img/login.svg") center / 20px 20px no-repeat;
  mask: url("/img/login.svg") center / 20px 20px no-repeat;
  width: 20px;
  height: 20px;
}
.icon.chrome-icon {
  -webkit-mask: url("/img/chrome.svg") center / 20px 20px no-repeat;
  mask: url("/img/chrome.svg") center / 20px 20px no-repeat;
  width: 20px;
  height: 20px;
}
.icon.arrow-icon {
  -webkit-mask: url("/img/arrow.svg") center / 8px 14px no-repeat;
  mask: url("/img/arrow.svg") center / 8px 14px no-repeat;
  width: 8px;
  height: 14px;
}
.icon.big-arrow-icon {
  -webkit-mask: url("/img/big-arrow.svg") center / 16px 16px no-repeat;
  mask: url("/img/big-arrow.svg") center / 16px 16px no-repeat;
  width: 16px;
  height: 20px;
}
.icon.search-icon {
  -webkit-mask: url("/img/search.svg") center / 16px 16px no-repeat;
  mask: url("/img/search.svg") center / 16px 16px no-repeat;
  width: 16px;
  height: 16px;
}
.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 26px;
  padding-right: 26px;
  height: 50px;
  font-family: "Inter-Medium";
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s;
  text-decoration: none;
}
.button .spinner {
  width: 20px !important;
}
.button .icon {
  height: 16px;
  width: 16px;
}
.button.small {
  height: 38px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
}
.button.small .spinner {
  width: 14px !important;
}
.button.small .icon {
  height: 14px;
  width: 14px;
}
.button.disabled {
  pointer-events: none;
}
.button.primary {
  color: #FFFFFF;
  background-color: #0C8CE9;
}
.button.primary .spinner {
  color: #FFFFFF !important;
}
.button.primary .icon {
  background-color: #FFFFFF;
}
.button.primary svg path {
  stroke: #FFFFFF;
}
.button.primary:hover {
  background-color: #0b80d6;
}
.button.primary:active {
  background-color: #0b7bcc;
}
.button.primary.disabled {
  background-color: #A3D4FF;
}
.button.secondary {
  color: #0C8CE9;
  background-color: #F1F9FF;
}
.button.secondary .spinner {
  color: #0C8CE9 !important;
}
.button.secondary .icon {
  background-color: #0C8CE9;
}
.button.secondary:hover {
  background-color: #ddf0ff;
}
.button.secondary:active {
  background-color: #d2ecff;
}
.button.secondary.disabled {
  color: #A3D4FF;
}
.button.secondary.disabled .spinner {
  color: #A3D4FF !important;
}
.button.secondary.disabled .icon {
  background-color: #A3D4FF;
}
.field-container .field input {
  height: 56px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #DDE1EB;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 3px rgba(12, 140, 233, 0);
  transition: box-shadow 0.15s, border-color 0.15s;
  font-family: "Inter-Medium";
  font-size: 16px;
  color: #23262A;
  padding: 10px 22px 10px 22px;
}
.field-container .field input:hover {
  border-color: rgba(12, 140, 233, 0.5);
}
.field-container .field input,
.field-container .field input:focus,
.field-container .field input:active {
  outline: none;
}
.field-container .field input:focus,
.field-container .field input:active {
  border-color: #0C8CE9;
  box-shadow: 0 0 0 3px rgba(12, 140, 233, 0.25);
}
.field-container .message {
  font-family: "Inter-Regular";
  font-size: 16px;
  font-size: 14px;
  color: #23262A;
}
.field-container.invalid .field input {
  border-color: rgba(220, 53, 69, 0.6);
}
.field-container.invalid .field input:focus,
.field-container.invalid .field input:active {
  border-color: #DC3545;
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.25);
}
.field-container.invalid .field input:hover,
.field-container.invalid .field input:focus {
  border-color: #DC3545;
}
.field-container.invalid .message {
  color: #DC3545;
}
.app-header {
  display: flex;
  gap: 24px;
  background-color: #FFFFFF;
  height: 86px;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);
}
.app-header .header-title {
  display: flex;
  align-items: center;
}
.app-header .header-title .icon {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}
.app-header .header-title,
.app-header .header-title:active,
.app-header .header-title:focus {
  color: #28293D;
  text-decoration: none;
}
.app-header .header-title .title-label,
.app-header .header-title:active .title-label,
.app-header .header-title:focus .title-label {
  font-family: "Inter-Bold";
  font-size: 16px;
  font-size: 38px;
  margin: 0;
}
.app-header .navigation {
  display: flex;
  gap: 14px;
  width: 100%;
}
.app-header .navigation .login {
  margin-left: auto;
}
.link {
  font-family: "Inter-Regular";
  font-size: 16px;
  color: #0C8CE9;
  text-decoration: none;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  transition: color 0.15s;
}
.link .icon {
  background-color: #0C8CE9;
}
.link:hover {
  color: #0b80d6;
}
.link:hover .icon {
  background-color: #0b80d6;
}
.link:active {
  color: #0b7bcc;
}
.link:active .icon {
  background-color: #0b7bcc;
}
.link.disabled {
  pointer-events: none;
  color: #A0A8B5;
}
.link.disabled .icon {
  background-color: #A0A8B5;
}
.card {
  box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
  padding: 18px;
}
.review-card .resource-info {
  color: #555770;
}
.review-card .resource-info .resource {
  margin-bottom: 10px;
}
.review-card .review-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.review-card .review-header .publication-info {
  display: flex;
  align-items: center;
}
.review-card .review-header .publication-info .user {
  font-family: "Inter-Regular";
  font-size: 16px;
  color: #8E90A6;
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 240px;
}
.review-card .review-header .publication-info .published-date {
  font-family: "Inter-Regular";
  font-size: 16px;
  color: #C7C8D9;
  font-size: 22px;
  margin-left: 8px;
}
.review-card .review-header .rating {
  margin-left: auto;
}
.review-card .review-header .rating .star {
  width: 38px;
  height: 38px;
}
.review-card .review-content .text {
  font-family: "Inter-SemiBold";
  font-size: 16px;
  color: #28293D;
  font-size: 30px;
  margin-bottom: 30px;
}
.review-card .review-content .reactions-container {
  display: flex;
  gap: 22px;
}
.review-card .review-content .reactions-container .reactions {
  display: flex;
  align-items: center;
  gap: 6px;
}
.review-card .review-content .reactions-container .reactions .reaction-icon svg {
  width: 26px;
  height: 26px;
}
.review-card .review-content .reactions-container .reactions .reaction-icon svg path {
  stroke: #555770;
}
.review-card .review-content .reactions-container .reactions .reactions-count {
  font-family: "Inter-Medium";
  font-size: 16px;
  font-size: 22px;
  color: #555770;
}
.site-card {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 18px 0 0;
}
.site-card .site-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;
  border-end-start-radius: 8px;
  border-start-start-radius: 8px;
}
.site-card .site-rating.good-rating {
  background-color: #1EAE69;
}
.site-card .site-rating.medium-rating {
  background-color: #FFEC3A;
}
.site-card .site-rating.bad-rating {
  background-color: #DC3545;
}
.site-card .site-rating .rating-label {
  font-family: "Inter-Regular";
  font-size: 20px;
  color: #23262A;
}
.site-card .site-rating .rating-value {
  font-family: "Inter-SemiBold";
  font-size: 36px;
  color: #23262A;
}
.site-card .site-rating-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}
.site-card .site-rating-info .site-name {
  font-family: "Inter-SemiBold";
  font-size: 28px;
  color: #23262A;
  margin: 0;
  line-height: 20px;
}
.site-card .site-rating-info .site-reviews {
  padding: 6px 8px;
  border-radius: 4px;
  background-color: #DDE1EB;
  color: #23262A;
  font-family: "Inter-Regular";
  font-size: 12px;
  width: fit-content;
}
.site-card .actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: auto;
}
.rating {
  display: flex;
  gap: 4px;
}
.rating .star {
  width: 14px;
  height: 14px;
}
.pages-navigator {
  display: flex;
  gap: 24px;
  margin-bottom: 36px;
}
.pages-navigator .previous-page-nav-container {
  display: flex;
  flex: 1;
  justify-content: end;
}
.pages-navigator .previous-page-nav-container .link {
  font-size: 14px;
}
.pages-navigator .previous-page-nav-container .icon {
  transform: rotate(180deg);
}
.pages-navigator .pages {
  display: flex;
  gap: 8px;
}
.pages-navigator .pages .button {
  background-color: #edeff6;
  color: #23262A;
}
.pages-navigator .pages .button:hover {
  background-color: #dfe3ef;
}
.pages-navigator .pages .button.active {
  border: solid 1px #0C8CE9;
  color: #0C8CE9;
  background-color: #F1F9FF;
}
.pages-navigator .pages .button.active:hover {
  background-color: #ddf0ff;
}
.pages-navigator .next-page-nav-container {
  display: flex;
  flex: 1;
}
.pages-navigator .next-page-nav-container .link {
  font-size: 14px;
}
