.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  height: 36px;
  font-family: "Outfit-Regular";
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border: 1px solid #605C55;
  transition: background-color 0.15s;
}
.button:active,
.button:focus {
  outline: none;
}
.button:hover {
  background-color: rgba(159, 143, 135, 0.08);
}
.button.primary {
  height: 44px;
  border: none;
  background-color: #D6DE73;
  gap: 14px;
}
.button.primary:hover {
  background-color: rgba(214, 222, 115, 0.4);
}
.button.light {
  border: none;
}
.button.light:hover {
  background-color: rgba(118, 162, 255, 0.1);
}
.button.small {
  height: 28px;
  font-family: "Outfit-Regular";
  font-size: 14px;
  font-weight: 400;
}
.button.small.primary {
  height: 40px;
}
.button.small.light {
  font-family: "Outfit-Regular";
  font-size: 16px;
  font-weight: 400;
}
.link {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: "Outfit-Medium";
  font-size: 24px;
  font-weight: 500;
  transition: color 0.15s;
  color: rgba(0, 0, 0, 0.6);
}
.link .icon rect {
  transition: fill 0.15s;
}
.link.small {
  font-family: "Outfit-Regular";
  font-size: 12px;
  font-weight: 400;
}
.link:hover {
  color: #78AC65;
}
.link:hover .icon rect {
  fill: #78AC65;
}
a {
  text-decoration: none;
}
a.button {
  display: inline-flex;
}
.field-container .input-container {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 6px;
}
.field-container .input-container .button {
  margin-right: 5px;
}
.field-container .input-container .field-input {
  background-color: transparent;
  flex: 1;
  height: 54px;
  padding: 0 20px;
  font-family: "Outfit-Regular";
  font-size: 20px;
  font-weight: 400;
}
.field-container .input-container .field-input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.field-container .input-container .field-input,
.field-container .input-container .field-input:focus,
.field-container .input-container .field-input:active {
  outline: none;
  border: none;
}
.field-container .field-message {
  font-family: "Outfit-Medium";
  font-size: 10px;
  font-weight: 500;
}
.field-container.error .input-container {
  border: solid 1px #EB5757;
}
.field-container.error .field-message {
  color: #EB5757;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1920px) {
  .page .page-content .section,
  .page .header .header-content {
    width: 1800px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .page .page-content .section,
  .page .header .header-content {
    width: 1380px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page .page-content .section,
  .page .header .header-content {
    width: 964px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1023px) {
  .page .page-content .section,
  .page .header .header-content {
    width: 728px;
  }
}
.page .header {
  background: #F9F8F6;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 9999;
}
.page .header .header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1920px) {
  .page .header .header-content {
    height: 98px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .page .header .header-content {
    height: 90px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page .header .header-content {
    height: 90px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1023px) {
  .page .header .header-content {
    height: 70px;
  }
}
@media only screen and (min-width: 1920px) {
  .page .header .header-content .navigation .button {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .page .header .header-content .navigation .button {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page .header .header-content .navigation .button {
    padding: 0 18px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1023px) {
  .page .header .header-content .navigation .button {
    padding: 0 10px;
  }
}
.page .header .header-content .navigation .button.active {
  background-color: rgba(118, 162, 255, 0.1);
}
.page .header .header-content .logo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page .header .header-content .right-control-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.page .header .header-content .right-control-container .button.primary {
  height: 36px;
}
@media only screen and (min-width: 1920px) {
  .page .page-content {
    margin-top: 98px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .page .page-content {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page .page-content {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1023px) {
  .page .page-content {
    margin-top: 70px;
  }
}
