@import "globalsLess";

.reviews-header {
    height: 80px;
    gap: 12px;
    position: relative;

    .main-content {
        .header-label {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .spinner {
                width: 16px !important;
            }

            .resource-type {
                margin: 0;
                .fontOutfitMedium(12px);
                color: @brown-dark;
            }

            .resource-rating {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                .rating-value {
                    margin: 0;
                    .fontOutfitMedium(12px);
                    color: @black-alpha-60;
                }
            }
        }
    }

    .additional-content {
        display: flex;
        align-items: center;
        justify-content: center;

        .tabs {
            width: 280px;
        }
    }
}
