@import "globalsLess";

.reviews-header {
  background-color: @system-color-light-100;
  .stackShadow3();

  .resource-info {
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
    height: 36px;
    align-items: center;

    .icon {
      width: 18px;
      height: 18px;
      margin-right: 10px;

      path {
        stroke: @system-color-dark-300;
      }
    }

    .label {
      .fontInterRegular();
      font-size: 16px;
      line-height: 18px;
      color: @system-color-dark-300;
      margin-right: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 216px;
    }

    .rating {
      .fontInterMedium();
      font-size: 12px;
      line-height: 12px;
      color: @system-color-dark-300;
      display: flex;
      width: 54px;
      height: 26px;
      align-items: center;
      justify-content: center;
      background-color: @system-color-success-100;
      border-radius: 4px;
    }
  }
}
