//COMMON COLORS
@primary-color: #5541D7;
@secondary-color: #ECECEC;
@text-color: #11142D;
@text-color-secondary: #7b7d93;
@white-color: #ffffff;
@background-color: #F7F7FC;
@error-color: #ff6347;

@color-multiplier: #cccccc;