@font-face {
  font-family: "Mulish-Bold";
  src: url("./fonts/mulish/Mulish-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Mulish-Regular";
  src: url("./fonts/mulish/Mulish-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

.fontMulishBold() {
  font-family: "Mulish-Bold";
}

.fontMulishRegular() {
  font-family: "Mulish-Regular";
}
