.placeholderColor(@color) {
    &::-webkit-input-placeholder {
        color: @color
    }
    &::-moz-placeholder {
        color: @color
    }
    &:-ms-input-placeholder {
        color: @color
    }
}

.stackShadow3() {
    box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);
}

.stackShadow2() {
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16);
}

.fontInterThin() {
    font-family: "Inter-Thin";
}

.fontInterExtraLight() {
    font-family: "Inter-ExtraLight";
}

.fontInterLight() {
    font-family: "Inter-Light";
}

.fontInterRegular() {
    font-family: "Inter-Regular";
}

.fontInterMedium() {
    font-family: "Inter-Medium";
}

.fontInterSemiBold() {
    font-family: "Inter-SemiBold";
}

.fontInterBold() {
    font-family: "Inter-Bold";
}

.fontInterExtraBold() {
    font-family: "Inter-ExtraBold";
}

.fontInterBlack() {
    font-family: "Inter-Black";
}

// ===========================================================
// ========================== FONT ===========================
// ===========================================================
.fontOutfitMedium(@font-size: 16px) {
    font-family: "Outfit-Medium", sans-serif;
    font-size: @font-size;
    font-weight: 500;
}

.fontOutfitRegular(@font-size: 16px) {
    font-family: "Outfit-Regular", sans-serif;
    font-size: @font-size;
    font-weight: 400;
}
