@import "../global.less";

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .adaptationComplex(
    {
        padding-left: 60px;
        padding-right: 60px;
    },
    {
        padding-left: 30px;
        padding-right: 30px;
    },
    {
        padding-left: 30px;
        padding-right: 30px;
    },
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    );

    .header {
        //background: linear-gradient(@ivory, transparent);
        background: @ivory;
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 9999;

        .adaptationComplex(
        {
            padding-left: 60px;
            padding-right: 60px;
        },
        {
            padding-left: 30px;
            padding-right: 30px;
        },
        {
            padding-left: 30px;
            padding-right: 30px;
        },
        {
            padding-left: 20px;
            padding-right: 20px;
        }
        );

        .header-content {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .adaptationComplex(
            {
                height: 98px;
            },
            {
                height: 90px;
            },
            {
                height: 90px;
            },
            {
                height: 70px;
            }
            );

            .navigation {
                .button {
                    .adaptationComplex(
                    {
                        padding: 0 30px;
                    },
                    {
                        padding: 0 24px;
                    },
                    {
                        padding: 0 18px;
                    },
                    {
                        padding: 0 10px;
                    }
                    );

                    &.active {
                        background-color: @blue-alpha-10;
                    }
                }
            }

            .logo-container {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .right-control-container {
                display: flex;
                align-items: center;
                gap: 6px;

                .button.primary {
                    height: 36px;
                }
            }
        }
    }

    .page-content {
        width: 100%;
        max-width: 1800px;

        .adaptationComplex(
        {
            margin-top: 98px;
        },
        {
            margin-top: 90px;
        },
        {
            margin-top: 90px;
        },
        {
            margin-top: 70px;
        }
        );

        .footer {
            border-radius: 20px 20px 0 0;
            background-color: @brown-soft;
            color: @ivory;
            height: 236px;
            display: flex;
            padding: 30px;

            .footer-section {
                flex: 1;

                &.first {
                    .logo-container {
                        display: flex;
                        align-items: center;
                        gap: 14px;

                        .logo {
                            path {
                                fill: @ivory;
                            }
                        }

                        .logo-text {
                            display: block;
                            .fontOutfitRegular(42px);
                        }
                    }
                }

                &.second {
                    display: flex;
                    justify-content: center;

                    .contacts-header {
                        .fontOutfitRegular(14px);
                    }

                    .contact {
                        margin: 0;
                        .fontOutfitRegular(14px);
                    }
                }

                &.third {
                    display: flex;
                    justify-content: end;
                }
            }
        }

        .terms {
            height: 28px;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            .terms-section {
                flex: 1;
                display: flex;

                &.first, &.third {
                    .fontOutfitRegular(12px);
                    color: @black-alpha-60;
                }

                &.first {
                    justify-content: start;
                }

                &.second {
                    justify-content: center;
                }

                &.third {
                    justify-content: end;
                }
            }
        }
    }
}
