@font-face {
  font-family: "Outfit-Regular";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Outfit-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Outfit-Medium";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Outfit-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

.reviewly-rating-popup {
  display: flex;
  position: fixed;
  right: 8px;
  z-index: 9999;
  background-color: white;
  border-radius: 8px;
  padding: 4px 0;
  box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);
}

.reviewly-rating-popup.show {
  top: -150px;
  animation-name: show-reviewly-rating-popup-animation;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.reviewly-rating-popup.hide {
  top: 8px;
  animation-name: hide-reviewly-rating-popup-animation;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.reviewly-rating-popup * {
  line-height: initial;
  font-size: unset;
}

.reviewly-rating-popup .reviewly-rating-block, .reviewly-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewly-rating-popup .reviewly-logo {
  width: 50px;
}

.reviewly-rating-popup .reviewly-logo svg {
  width: 32px;
  height: 32px;;
}

.reviewly-rating-popup .reviewly-rating-block {
  flex-direction: column;
}

.reviewly-rating-popup .reviewly-logo, .reviewly-rating-popup .reviewly-rating-block:not(:last-child) {
  border-right: solid 1px #C7C8D9;
}

.reviewly-rating-popup .reviewly-rating-block.reviewly-site-rating {
  padding: 0 6px 0 8px;
}

.reviewly-rating-popup .reviewly-rating-block.reviewly-page-rating {
  padding: 0 8px 0 6px;
}

.reviewly-rating-popup .reviewly-rating-block p {
  margin: 0;
}

.reviewly-rating-popup .reviewly-rating-block .reviewly-rating-header {
  font-family: "Outfit-Regular";
  font-size: 10px;
  color: #605c55;
  line-height: initial;
}

.reviewly-rating-popup .reviewly-rating-block .reviewly-rating {
  font-family: "Outfit-Medium";
  font-size: 20px;
  line-height: initial;
}

.reviewly-rating-popup .reviewly-rating-block .reviewly-reviews-count {
  font-family: "Outfit-Regular";
  font-size: 10px;
  line-height: initial;
  color: #605c55;
}

.reviewly-rating-popup .reviewly-rating-block .reviewly-reviews-count .reviewly-reviews-count-value {
  font-family: "Outfit-Medium";
  line-height: initial;
}

.reviewly-rating-popup .reviewly-rating-block .reviewly-rating.good-rating {
  color: #78AC65;
}

.reviewly-rating-popup .reviewly-rating-block .reviewly-rating.medium-rating {
  color: #605c55;
}

.reviewly-rating-popup .reviewly-rating-block .reviewly-rating.bad-rating {
  color: #EB5757;
}

@keyframes show-reviewly-rating-popup-animation {
  0% {
    top: -150px;
  }
  100% {
    top: 8px;
  }
}

@keyframes hide-reviewly-rating-popup-animation {
  0% {
    top: 8px;
  }
  100% {
    top: -150px;
  }
}
