@import "globalsLess";

.edit-review-page {
  padding: 10px 14px;

  .header, .button-radio-group, .rating-container, .text-container {
    margin-bottom: 14px;
  }

  .header {
    display: flex;
    .fontMulishRegular();
    font-size: 18px;
    margin-top: 4px;

    .button {
      margin-left: auto;
    }
  }

  .rating-container {
    display: flex;
    justify-content: center;
  }

  .text-container {
    height: 100%;

    textarea {
      width: 100%;
      height: 100%;
    }
  }

  .leave-review-container {
    margin-top: auto;

    .button {
      width: 100%;
    }
  }
}
