@import "globalsLess";

.edit-review-page {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    .fontInterSemiBold();
    font-size: 16px;
    height: 36px;
    .stackShadow3();
    background-color: @system-color-light-100;
    color: @system-color-dark-300;
  }

  .rating-container {
    display: flex;
    justify-content: center;
  }

  .text-container {
    height: 182px;
  }

  .leave-review-container {
    margin-top: auto;

    .button {
      width: 100%;
    }
  }

  span[aria-live="polite"] {
    display: flex;
    flex: 1;
  }
}
