@import "globalsLess";

.main-page {
    .page-content {
        padding-bottom: 30px;

        .section {
            background-color: @beige-alpha-8;
            border-radius: 70px;
            padding: 30px;
            height: 100%;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;

            .menu-control {
                padding: 0;
                line-height: unset;
                height: unset;
                border: none;
                transition: opacity 0.15s;
                display: none;

                &, &:hover {
                    background-color: transparent;
                }

                .adaptationMobile({
                    display: block;
                });

                .icon {
                    height: 34px;
                    width: 34px;
                }

                &.hide-menu {
                    position: absolute;
                    right: 60px;
                    top: 84px;
                }

                &.show-menu {
                    position: absolute;
                    left: 60px;
                    top: 84px;
                }

                &.hidden {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            .page-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: opacity 0.15s;

                .adaptationMobile({
                    &.hidden {
                        opacity: 0;
                    }
                });

                .page-name {
                    margin-top: 30px;
                }
            }
        }
    }
}
