@import "globalsLess";

.main-page {

  .extension-does-not-exist {
    border: solid 1px @system-color-danger-200;
    border-radius: 8px;
    padding: 14px;
    background-color: @system-color-danger-100;
    .fontInterRegular();
    font-size: 14px;

    .button {
      margin-left: 6px;
    }
  }

  .success-text {

  }
}
