@import "globalsLess";

.reviews {
  .review-card, .cards-skeleton {
    margin-bottom: 30px;
  }

  .review-card:hover {
    .stackShadow4();
  }

  .cards-skeleton {
    .stackShadow3();
    border-radius: 8px;
    --base-color: @system-color-light-100;
    --highlight-color: @system-color-light-300;
  }

  .no-reviews {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .fontInterRegular();
    font-size: 14px;
    color: @system-color-dark-200;

    svg {
      height: 28px;
      width: 28px;
      margin-bottom: 10px;

      path {
        stroke: @system-color-dark-200;
      }
    }
  }

  .load-next-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
