@import "globalsLess";

@star-size: 18px;

.rating {
    .star {
        width: @star-size;
        height: @star-size;
        margin-right: 6px;

        &.empty {
            path {
                fill: @lime-alpha-40;
            }
        }

        &.filled {
            path {
                fill: @lime;
            }
        }
    }

    &.disabled {
        .star {
            path {
                stroke: @system-color-dark-100;
            }

            &.filled {
                path {
                    fill: @system-color-dark-100;
                }
            }
        }
    }
}
