@import "../global.less";

.field-container {
    .input-container {
        display: flex;
        align-items: center;
        background-color: @white;
        border-radius: 6px;

        .button {
            margin-right: 5px;
        }

        .field-input {
            background-color: transparent;
            flex: 1;
            height: 50px;
            padding: 0 20px;
            .fontOutfitRegular(16px);
            color: @brown-dark;

            &.big {
                height: 54px;
                .fontOutfitRegular(20px);
            }

            &::placeholder {
                color: @black-alpha-25;
            }

            &, &:focus, &:active {
                outline: none;
                border: none;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-background-clip: text;
                -webkit-text-fill-color: @brown-dark;
                -webkit-box-shadow: 0 0 0 1000px transparent inset;
                box-shadow: 0 0 0 1000px transparent inset;
            }
        }
    }

    .field-message {
        .fontOutfitMedium(12px);
    }

    &.disabled {
        .input-container {
            opacity: 0.5;

            .field-input {
                pointer-events: none;
            }
        }
    }

    &.error {
        .input-container {
            border: solid 1px @red;
        }

        .field-message {
            color: @red;
        }
    }
}
