// =================================================================
// ========================== ADAPTATION ===========================
// =================================================================
.adaptationDesktop(@rules) {
  @media only screen and (min-width: 1920px) {
    @rules();
  }
}

.adaptationSmallDesktop(@rules) {
  @media only screen and (min-width: 1440px) and (max-width: 1919px) {
    @rules();
  }
}

.adaptationTablet(@rules) {
  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    @rules();
  }
}

.adaptationMobile(@rules) {
  @media only screen and (min-width: 1px) and (max-width: 1023px) {
    @rules();
  }
}

// Workaround for cover rules.
.adaptationAll(@rules) {
  .adaptationDesktop(@rules);
  .adaptationSmallDesktop(@rules);
  .adaptationTablet(@rules);
  .adaptationMobile(@rules);
}

// Workaround for cover rules.
.adaptationAllAndMobile(@allRules, @mobileRules) {
  .adaptationDesktop(@allRules);
  .adaptationSmallDesktop(@allRules);
  .adaptationTablet(@allRules);
  .adaptationMobile(@mobileRules);
}

.adaptationComplex(@desktopRules, @smallDesktopRules, @tabletRules, @mobileRules) {
  .adaptationDesktop(@desktopRules);
  .adaptationSmallDesktop(@smallDesktopRules);
  .adaptationTablet(@tabletRules);
  .adaptationMobile(@mobileRules);
}

.doubleDPI(@rules) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    @rules();
  }
}
// =================================================================


// ===========================================================
// ========================== FONT ===========================
// ===========================================================
.fontOutfitMedium(@font-size: 16px) {
  font-family: "Outfit-Medium", sans-serif;
  font-size: @font-size;
  font-weight: 500;
}

.fontOutfitRegular(@font-size: 16px) {
  font-family: "Outfit-Regular", sans-serif;
  font-size: @font-size;
  font-weight: 400;
}
// =================================================================