@ivory: #F9F8F6;
@brown-dark: #404038;
@brown-soft: #605C55;
@black-alpha-60: fade(#000000, 60%);
@black-alpha-40: fade(#000000, 40%);
@black-alpha-25: fade(#000000, 25%);
@blue-alpha-10: fade(#76A2FF, 10%);
@blue-alpha-20: fade(#76A2FF, 20%);
@blue: #4F75C5;
@beige-alpha-8: fade(#9F8F87, 8%);
@beige-alpha-60: fade(#F2F0EE, 60%);
@beige-grey: #B7B1AB;
@beige-dark: #9F8F87;
@beige-dark-alpha-20: fade(#9F8F87, 20%);
@beige-1: #F2F0EE;
@beige-2: #EBE7E4;
@beige-3: #E3DEDB;
@gray: #6E6E70;
@gray-alpha-10: fade(#6E6E70, 10%);
@green: #78AC65;
@lime: #D6DE73;
@lime-medium: #E9EDB1;
@lime-light: #F2F4D0;
@lime-very-light: #FBFBEF;
@lime-alpha-40: fade(@lime, 40%);
@red: #EB5757;
@white: #FFFFFF;