@import "globalsLess";

.reviewly-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;

  .icon {
    height: 28px;
    width: 28px;
    margin-right: 10px
  }

  .title-label {
    margin: 0;
    .fontInterBold();
    font-size: 38px;
    color: @dark;
  }
}
