@import "../global.less";

.field-container {
  .field {
    input {
      height: 56px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid @gray-light-2;
      background-color: @white;
      .fieldOutlineShadow(@primary, 0%);
      transition: box-shadow 0.15s, border-color 0.15s;
      .fontInterMedium();
      font-size: 16px;
      color: @dark;
      padding: 10px 22px 10px 22px;

      &:hover {
        border-color: fade(@primary, 50%);
      }

      &, &:focus, &:active {
        outline: none;
      }

      &:focus, &:active {
        border-color: @primary;
        .fieldOutlineShadow(@primary, 25%);
      }
    }
  }

  .message {
    .fontInterRegular();
    font-size: 14px;
    color: @dark;
  }

  &.invalid {
    .field {
      input {
        border-color: fade(@red, 60%);

        &:focus, &:active {
          border-color: @red;
          .fieldOutlineShadow(@red, 25%);
        }

        &:hover, &:focus {
          border-color: @red;
        }
      }
    }

    .message {
      color: @red;
    }
  }
}
