@import "../global.less";

.app-header {
  display: flex;
  gap: 24px;
  background-color: @white;
  height: 86px;
  align-items: center;
  padding: 0 24px;
  .stackShadow3();

  .header-title {
    display: flex;
    align-items: center;

    .icon {
      height: 28px;
      width: 28px;
      margin-right: 10px;
    }

    &, &:active, &:focus {
      color: @system-color-dark-400;
      text-decoration: none;

      .title-label {
        .fontInterBold();
        font-size: 38px;
        margin: 0;
      }
    }
  }

  .navigation {
    display: flex;
    gap: 14px;
    width: 100%;

    .login {
      margin-left: auto;
    }
  }
}
