@import "../global.less";

.link {
  .fontInterRegular();
  color: @primary;
  text-decoration: none;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  transition: color 0.15s;
  cursor: pointer;

  .icon {
    background-color: @primary;
  }

  &:hover {
    color: darken(@primary, 4%);

    .icon {
      background-color: darken(@primary, 4%);
    }
  }

  &:active {
    color: darken(@primary, 6%);

    .icon {
      background-color: darken(@primary, 6%);
    }
  }

  &.disabled {
    pointer-events: none;
    color: @gray;

    .icon {
      background-color: @gray;
    }
  }
}
