@import "../global.less";

.pages-navigator {
  display: flex;
  gap: 24px;

  .page-nav-container {
    display: flex;
    flex: 1;

    .link {
      font-size: 14px;
      border: none;
      background-color: transparent;
    }
  }

  .previous-page-nav-container {
    justify-content: end;

    .icon {
      transform: rotate(180deg);
    }
  }

  .pages {
    display: flex;
    gap: 8px;

    .button {
      background-color: @gray-light-3;
      color: @dark;

      &:hover {
        background-color: darken(@gray-light-3, 4%);
      }

      &.active {
        border: solid 1px @primary;
        color: @primary;
        background-color: @primary-light-2;

        &:hover {
          background-color: darken(@primary-light-2, 4%);
        }
      }
    }
  }
}
