@import "../global.less";

.pages-navigator {
  display: flex;
  gap: 24px;
  margin-bottom: 36px;

  .previous-page-nav-container {
    display: flex;
    flex: 1;
    justify-content: end;

    .icon {
      transform: rotate(180deg);
    }
  }

  .next-page-nav-container {
    display: flex;
    flex: 1;
  }
}
