@import "../global.less";

.review-card {
  .resource-info {
    color: @system-color-dark-300;

    .resource {
      margin-bottom: 10px;
    }
  }

  .review-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .publication-info {
      display: flex;
      align-items: center;

      .user {
        .fontInterRegular();
        color: @system-color-dark-200;
        font-size: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 240px;
      }

      .published-date {
        .fontInterRegular();
        color: @system-color-dark-100;
        font-size: 22px;
        margin-left: 8px;
      }
    }

    .rating {
      margin-left: auto;

      .star {
        width: 38px;
        height: 38px;
      }
    }
  }

  .review-content {
    .text {
      .fontInterSemiBold();
      color: @system-color-dark-400;
      font-size: 30px;
      margin-bottom: 30px;
    }

    .reactions-container {
      display: flex;
      gap: 22px;

      .reactions {
        display: flex;
        align-items: center;
        gap: 6px;

        .reaction-icon {
          svg {
            width: 26px;
            height: 26px;

            path {
              stroke: @system-color-dark-300;
            }
          }
        }

        .reactions-count {
          .fontInterMedium();
          font-size: 22px;
          color: @system-color-dark-300;
        }

        &.positive {

        }

        &.negative {

        }
      }
    }
  }
}
