@import "globalsLess";

.dropdown-menu-button {
    position: relative;

    .dropdown-menu-container {
        top: 46px;
        position: absolute;
        z-index: 2;
        height: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: height 0.15s;

        .dropdown-menu {
            background-color: @white;
            border-radius: 8px;
        }
    }

    &.active {
        .dropdown-menu-container {
            height: auto;
        }
    }
}
