@import "globalsLess";

.edit-review-footer {
    .app-footer {
        display: flex;
        justify-content: space-between;

        .button {
            width: 116px;

            &.next {
                .icon {
                    path {
                        transform: rotate(90deg);
                        transform-origin: 50% 50%;
                    }
                }
            }
        }
    }
}
