@import "globalsLess";

.radio-group {
  display: flex;
  gap: 18px;

  .radio-button {
    display: flex;
    cursor: pointer;

    .border {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border: solid 1px @system-color-dark-300;
      border-radius: 50%;

      .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: @primary-color-lighter;
      }
    }

    .label {
      .fontInterMedium();
      font-size: 14px;
      color: @system-color-dark-300;
      margin-left: 8px;
    }

    &:hover {
      .border {
        border: solid 1px @primary-color-lighter;
      }

      .label {
        color: @primary-color-lighter;
      }
    }

    &.disabled {
      pointer-events: none;

      .border {
        border: solid 1px @system-color-dark-100;

        .circle {
          background-color: @system-color-dark-100;
        }
      }

      .label {
        color: @system-color-dark-100;
      }
    }
  }
}
