@import "globalsLess";

.remove {
  color: @text-color-secondary;
  display: flex;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: @primary-color;
    background-color: @primary-color-light;
    display: flex;
    border-radius: 4px;
  }

  svg {
    width: 22px;
    height: 22px;
  }
}
