@import "globalsLess";

.sign-up-page {
  display: flex;
  justify-content: center;

  .sign-up-form-panel {
    width: 720px;
    background-color: @white-color;
    padding: 40px 68px;
    border-radius: 8px;
    .bigBoxShadow();

    .sign-up-header {
      .fontMulishBold();
      text-align: center;
      margin-bottom: 36px;
    }

    .sign-up-form {
      .field-block {
        margin-bottom: 18px;
      }

      .passwords {
        display: flex;
        gap: 18px;

        .field-block {
          flex-grow: 1;
        }
      }

      .sign-up-errors {
        .error-message {
          margin-left: 0;
          width: 100%;
          display: block;
          text-align: center;
        }
      }

      .button {
        width: 100%;

        &:not(:last-child) {
          margin-top: 20px;
          margin-bottom: 18px;
        }
      }
    }
  }
}
