@import "globalsLess";

.sign-up-page {
  display: flex;
  justify-content: center;

  .sign-up-form-panel {
    max-width: 740px;
    min-width: 540px;
    width: 100%;
    padding: 28px 48px;

    .sign-up-header {
      .fontInterRegular();
      font-size: 28px;
      color: @system-color-dark-300;
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}
