@import "globalsLess";

.reviews {
  padding: 8px;

  .review {
    background-color: @white-color;
    margin-bottom: 8px;
    padding: 10px 14px;
    box-shadow: 0 0 4px rgb(178 183 219 / 20%);
    border-radius: 6px;

    &.current-user {
      border: solid 1px #838ecc;
    }

    .rating .star {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }
}
