@import "globalsLess";

.reviews {
  padding: 8px;

  .review {
    background-color: @white-color;
    margin-bottom: 8px;
    padding: 10px 14px;
    box-shadow: 0 0 4px rgb(178 183 219 / 20%);
    border-radius: 6px;

    &.current-user {
      border: solid 1px #838ecc;
    }

    .user-name {
      .fontMulishRegular();
      font-size: 14px;
      margin-bottom: 4px;

      .you {
        font-size: 12px;
        color: @text-color-secondary;
      }
    }

    .rating-container {
      .rating {
        .star {
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
      }
    }

    .text {
      .fontMulishRegular();
      font-size: 14px;
      margin-bottom: 4px;
    }

    .published {
      .fontMulishRegular();
      color: @text-color-secondary;
    }
  }
}
