@import "globalsLess";

.reviews-page {
  .header {
    display: flex;
    flex-direction: column;
    background-color: @white-color;

    .domain-info, .page-info {
      .fontMulishRegular();
      padding: 6px 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .domain-info {
      font-size: 18px;
    }

    .page-info {
      font-size: 14px;
      border-bottom: solid 2px @background-color;
    }
  }

  .reviews {
    overflow-y: auto;
  }

  .leave-review-container {
    padding: 10px 14px;
    margin-top: auto;
    background-color: @white-color;

    .button {
      width: 100%;
    }
  }
}