@import "globalsLess";

.reviews-page {
  .header {
    padding: 10px 14px;
    display: flex;
    align-items: center;
    background-color: @white-color;

    .domain {
      .fontMulishRegular();
      font-size: 20px;
    }
  }

  .reviews {
    overflow-y: scroll;
  }

  .leave-review-container {
    padding: 10px 14px;
    margin-top: auto;
    background-color: @white-color;

    .button {
      width: 100%;
    }
  }
}