@import "globalsLess";

.user-profile-page {
  display: flex;
  justify-content: center;

  .user-profile-panel {
    max-width: 840px;
    min-width: 540px;
    min-height: 372px;
    width: 100%;
    padding: 28px 48px;

    .user-profile-header {
      .fontInterRegular();
      font-size: 28px;
      color: @system-color-dark-300;
      text-align: center;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .user-profile-loading-spinner {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }

    .user-property {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 30px;
      }

      .user-property-label {
        width: 100px;
      }
    }
  }
}
