@import "globalsLess";

.user-property {
  display: flex;
  gap: 20px;
  min-height: 40px;

  .user-property-label {
    .fontInterRegular();
    font-size: 16px;
  }

  .user-property-value {
    .fontInterBold();
    font-size: 18px;
  }
}
