@import "globalsLess";

.email-property {
  .user-property-value {
    .confirmation-warning {
      margin-top: 8px;
      width: 720px;

      span {
        display: block;
        margin-bottom: 8px;
      }

      .resend-email-confirmation-button {
        min-width: 196px;
      }
    }
  }
}
