@import "mixins.less";
@import "colors.less";

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 144px;

  .coming-soon-header {
    color: @primary-color-main;
    .fontInterMedium();
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    margin-bottom: 54px;
  }

  .coming-soon-items {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;

    .adaptationDesktop({
      padding: 0 130px;
      gap: 86px;
    });

    .adaptationSmallDesktop({
      padding: 0 130px;
      gap: 44px;
    });

    .adaptationTablet({
      padding: 0 40px;
      gap: 20px;
    });

    .adaptationMobile({
      padding: 0 32px;
      gap: 20px;
    });

    .coming-soon-item {
      position: relative;
      display: flex;
      border: solid 1px @primary-color-darker;
      border-radius: 18px;
      padding: 32px 40px;
      width: 540px;

      .adaptationTablet({
        padding: 18px 20px;
        width: 456px;
      });

      .adaptationMobile({
        padding: 18px 20px;
        width: 436px;
      });

      &:last-child {
        flex-direction: column;
        background: linear-gradient(101.83deg, #70BEFE 24.94%, #205BB5 101.92%);

        .coming-soon-item-header, .coming-soon-item-text {
          color: @system-color-light-100;
        }
      }

      .coming-soon-item-info {
        width: 200px;
      }

      .coming-soon-item-header, .coming-soon-item-text {
        color: @primary-color-main;
        font-weight: normal;
      }

      .coming-soon-item-header {
        .fontInterMedium();
        font-size: 22px;
      }

      .coming-soon-item-text {
        .fontInterRegular();
        font-size: 18px;
      }

      .feature-img {
        position: absolute;

        &.catalog-feature {
          top: 38px;
          right: 26px;
          width: 241px;

          .adaptationTablet({
            top: 26px;
            width: 218px;
          });

          .adaptationMobile({
            top: 38px;
            right: 8px;
            width: 204px;
          });
        }

        &.favourite-websites {
          top: 22px;
          right: 32px;
          width: 224px;

          .adaptationTablet({
            top: 22px;
            right: 26px;
            width: 198px;
          });

          .adaptationMobile({
            top: 22px;
            right: 26px;
            width: 198px;
          });
        }

        &.product-search {
          top: 34px;
          right: 42px;
          width: 200px;

          .adaptationTablet({
            width: 173px;
          });

          .adaptationMobile({
            width: 173px;
          });
        }
      }

      .link-button {
        width: 160px;
      }
    }
  }
}