@import "mixins.less";
@import "colors.less";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  .top-background-gradient {
    position: absolute;
    width: 2500px;
    height: 2500px;
    top: -1500px;
    right: -1500px;
    background: radial-gradient(50% 50% at 50% 50%, #B2E4FD 0%, rgba(178, 228, 253, 0) 100%);
    z-index: -5;
    pointer-events: none;
  }
}
