@import "mixins.less";
@import "colors.less";

.link, .link-button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin-left: 8px;
  }
}

.link {
  .fontInterMedium();
  font-size: 18px;
  color: @primary-color-lighter;

  .icon {
    background-color: @primary-color-lighter;
  }

  &:hover {
    color: @primary-color-main;

    .icon {
      background-color: @primary-color-main;
    }
  }
}

.button, .link-button {
  border: none;
  height: 58px;
  padding: 20px 22px;
  border-radius: 8px;
  background: linear-gradient(90deg, #41A0FC 0%, #134091 100%);
  color: @system-color-light-100;
  .fontInterMedium();
  font-size: 16px;
  cursor: pointer;

  .icon {
    background-color: @system-color-light-100;
  }

  &.outline {
    background: transparent;
    color: @primary-color-lighter;
    border: solid 1px @primary-color-lighter;

    .icon {
      background-color: @primary-color-lighter;
    }

    &:hover {
      background: transparent;
      color: @primary-color-main;
      border-color: @primary-color-main;

      .icon {
        background-color: @primary-color-main;
      }
    }
  }

  &:hover {
    background: linear-gradient(90deg, #3a91e3 0%, #10377c 100%);
  }
}
