@import "mixins.less";
@import "colors.less";

.faq {
  padding: 0 260px;
  position: relative;
  margin-bottom: 136px;

  .adaptationTablet({
    padding: 0;
    margin-bottom: 88px;
  });

  .adaptationMobile({
    padding: 0;
    margin-bottom: 88px;
  });

  .faq-img {
    position: absolute;
    z-index: -1;

    .adaptationDesktop({
      top: -102px;
      width: 512px;
      left: 362px;
    });

    .adaptationSmallDesktop({
      top: -12px;
      width: 396px;
      left: 260px;
    });

    .adaptationTablet({
      top: -54px;
      width: 446px;
      left: 66px;
    });

    .adaptationMobile({
      top: -32px;
      width: 420px;
      left: 38px;
    });
  }

  .faq-header-container {
    display: flex;
    justify-content: end;

    .adaptationDesktop({
      margin-bottom: 74px;
    });

    .adaptationSmallDesktop({
      margin-bottom: 46px;
    });

    .adaptationTablet({
      margin-bottom: 46px;
    });

    .adaptationMobile({
      margin-bottom: 46px;
    });

    .faq-header {
      .adaptationDesktop({
        width: 680px;
      });

      .adaptationSmallDesktop({
        width: 480px;
      });

      .adaptationTablet({
        width: 500px;
      });

      .adaptationMobile({
        width: 500px;
      });

      .header-text, .header-description {
        .fontInterMedium();
        color: @primary-color-main;
        font-weight: normal;
        margin: 0;
      }

      .header-text {
        width: 530px;
        font-size: 48px;
        margin-bottom: 28px;

        .adaptationTablet({
          width: 500px;
        });

        .adaptationMobile({
          width: 500px;
        });
      }

      .header-description {
        font-size: 18px;
        margin-bottom: 32px;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(102.22deg, #8DD1FE 0%, #205BB5 103.82%);
    border-radius: 30px;
    .stackShadow3();
    padding: 46px 0;

    .adaptationTablet({
      border-radius: 0;
    });

    .adaptationMobile({
      border-radius: 0;
    });

    .card-header {
      width: 100%;
      margin-bottom: 40px;

      h2 {
        .fontInterMedium();
        font-size: 48px;
        font-weight: normal;
        margin: 0;
        text-align: center;
        color: @system-color-light-100;
      }
    }

    .card-body {
      .question-item {
        position: relative;
        padding: 30px 38px;

        &:not(:last-child) {
          border-bottom: solid 1px #B2E4FD;
        }

        .question-header, .question-answer {
          margin: 0;
          .fontInterMedium();
          font-weight: normal;
          color: @system-color-light-100;
        }

        .question-header {
          font-size: 22px;
          cursor: pointer;
          line-height: 32px;
        }

        .question-answer {
          font-size: 16px;
          display: none;
        }

        .icon {
          transform: rotate(180deg);
          position: absolute;
          top: 34px;
          right: 30px;
          padding: 14px;
          transform-origin: center;
          background-color: @system-color-light-100;
          cursor: pointer;
        }

        &.active {
          background: linear-gradient(102.22deg, #94d2ff 0%, #3370d3 103.82%);

          .icon {
            transform: rotate(90deg);
          }

          .question-header {
            margin-bottom: 8px;
          }

          .question-answer {
            display: block;
          }
        }
      }
    }
  }
}