@import "mixins.less";
@import "colors.less";

.faq {
  .faq-header-container {
    padding: 0 260px;
    display: flex;
    justify-content: end;

    .faq-header {
      .header-text, .header-description {
        .fontInterMedium();
        color: @primary-color-main;
        font-weight: normal;
        margin: 0;
      }

      .header-text {
        width: 530px;
        font-size: 48px;
        margin-bottom: 28px;
      }

      .header-description {
        font-size: 18px;
        margin-bottom: 32px;
      }

      .download-extension {

      }
    }
  }
}