@import "mixins.less";
@import "colors.less";

.feedbacks {
  margin-bottom: 136px;

  .feedbacks-header {
    color: @primary-color-main;

    .fontInterMedium();
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    margin-bottom: 54px;
  }

  .feedbacks-gallery-container {
    .feedbacks-gallery {
      margin-bottom: 22px;

      .feedback-container {
        .feedback-flex {
          display: flex;
          justify-content: center;
          padding: 0 10px;

          .feedback {
            padding: 30px;
            border: solid 1px @primary-color-lighter;
            border-radius: 18px;

            .feedback-text {
              .fontInterMedium();
              font-size: 22px;
              margin: 0 0 14px;
            }

            .user-info {
              display: flex;
              align-items: center;
              gap: 16px;

              .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }

              .user-info-text {
                span {
                  display: block;
                  font-size: 18px;

                  &.name {
                    .fontInterMedium();
                  }

                  &.position {
                    .fontInterLight
                  }
                }
              }
            }
          }
        }
      }
    }

    .feedbacks-gallery-controls {
      display: flex;
      justify-content: center;
      gap: 10px;

      .button {
        padding: 0;
        display: flex;
        height: 38px;
        width: 38px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: @primary-color-main;

        .icon {
          transform-origin: center;
        }

        &.prev-button {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
