@import "mixins.less";
@import "colors.less";

.footer {
  padding: 22px 160px;
  border-top: solid 1px @primary-color-main;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  .rights {
    .fontInterMedium();
    font-size: 18px;
    color: @primary-color-main;
  }

  .contact-us, .rights {
    font-size: 14px;
  }

  .rights {
    line-height: 32px;
  }
}
