@import "mixins.less";
@import "colors.less";

.header {
  padding-left: 112px;
  padding-right: 112px;
  display: flex;
  gap: 70px;
  align-items: center;
  height: 88px;
  .stackShadow3();
  background-color: @system-color-light-100;

  .logo {
    position: relative;
    width: 172px;
    height: 42px;

    .logo-name {
      position: absolute;
      margin: 0;
      font-size: 28px;
      .fontInterExtraBold();
      color: @primary-color-main;
    }

    .logo-slogan {
      position: absolute;
      margin: 0;
      font-size: 8px;
      top: 30px;
      left: 36px;
      .fontInterExtraBold();
      color: @primary-color-main;
    }

    .logo-icon {
      width: 42px;
      position: absolute;
      left: 148px;
    }
  }

  .navigation {
    display: flex;
    gap: 28px;
  }

  .login-link {
    margin-left: auto;
    line-height: 21px;
  }
}