@import "mixins.less";
@import "colors.less";

.how-it-works {
  position: relative;
  padding: 0 96px 60px;

  .reviewler {
    position: absolute;
    z-index: -1;
    right: 96px;
    top: -390px;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 46px 140px;
    background: linear-gradient(to right, @primary-color-lighter, @primary-color-darker);
    border-radius: 30px;
    .stackShadow3();

    .card-header {
      width: 100%;
      margin-bottom: 40px;

      h2 {
        .fontInterMedium();
        font-size: 48px;
        font-weight: normal;
        margin: 0;
        text-align: center;
        color: @system-color-light-100;
      }
    }

    .card-body {
      display: flex;
      gap: 10px;
      align-items: center;

      .instructions {
        display: flex;
        flex-direction: column;
        max-width: 440px;
        flex-grow: 1;
        gap: 14px;

        .instruction-item {
          position: relative;
          padding: 14px 16px 14px 42px;
          border-radius: 18px;

          .icon {
            position: absolute;
            top: 16px;
            left: 10px;
            padding: 14px;
            transform-origin: center;
            background-color: @system-color-dark-400;
            cursor: pointer;
          }

          .instruction-header, .instruction-description {
            margin: 0;
            .fontInterMedium();
            font-weight: normal;
            color: @system-color-dark-400;
          }

          .instruction-header {
            font-size: 22px;
            cursor: pointer;
            line-height: 32px;

            &:hover {
              color: @system-color-light-100;
            }
          }

          .instruction-description {
            font-size: 16px;
            display: none;
          }

          &:hover, &.active {
            .icon {
              background-color: @system-color-light-100;
            }

            .instruction-header, .instruction-description {
              color: @system-color-light-100;
            }
          }

          &.active {
            height: auto;
            box-shadow: 0 0 0 1px @system-color-light-100;

            .icon {
              background-color: @system-color-light-100;
              transform: rotate(90deg);
            }

            .instruction-header {
              margin-bottom: 8px;
            }

            .instruction-description {
              display: block;
            }
          }
        }
      }

      .instruction-image {
        display: flex;
        flex-grow: 2;
        align-items: center;
        justify-content: center;

        .how-it-works-img {
          display: none;
          height: 410px;

          &.active {
            display: block;
          }
        }
      }
    }
  }
}
