.fontInterThin() {
  font-family: "Inter-Thin";
}

.fontInterExtraLight() {
  font-family: "Inter-ExtraLight";
}

.fontInterLight() {
  font-family: "Inter-Light";
}

.fontInterRegular() {
  font-family: "Inter-Regular";
}

.fontInterMedium() {
  font-family: "Inter-Medium";
}

.fontInterSemiBold() {
  font-family: "Inter-SemiBold";
}

.fontInterBold() {
  font-family: "Inter-Bold";
}

.fontInterExtraBold() {
  font-family: "Inter-ExtraBold";
}

.fontInterBlack() {
  font-family: "Inter-Black";
}
