@import "mixins.less";
@import "colors.less";

.icon {
  width: 12px;
  height: 12px;

  &.login-icon {
    .svgMask("/img/login.svg");
    width: 20px;
    height: 20px;
  }

  &.chrome-icon {
    .svgMask("/img/chrome.svg");
    width: 20px;
    height: 20px;
  }

  &.arrow-icon {
    .svgMaskWithSize("/img/arrow.svg", 8px, 14px);
    width: 8px;
    height: 14px;
  }
}
