@import "mixins.less";
@import "colors.less";

.main-description {
  .adaptationDesktop({
    padding: 96px 200px;
  });

  .adaptationSmallDesktop({
    padding: 96px 112px;
  });

  .adaptationTablet({
    padding: 76px 38px;
  });

  .adaptationMobile({
    padding: 52px 38px;
  });

  .slogan-block {
    max-width: 840px;
    padding-bottom: 36px;

    .adaptationTablet({
      max-width: 630px;
    });

    .adaptationMobile({
      max-width: 500px;
    });

    .slogan {
      margin: 0;
      .fontInterBold();
      font-size: 58px;
      color: @primary-color-main;
    }
  }

  .actions {
    display: flex;
    gap: 32px;
  }
}
