@import "mixins.less";
@import "colors.less";

.main-description {
  padding: 96px 112px;

  .slogan-block {
    max-width: 840px;
    padding-bottom: 36px;

    .slogan {
      margin: 0;
      .fontInterBold();
      font-size: 58px;
      color: @primary-color-main;
    }
  }

  .actions {
    display: flex;
    gap: 32px;
  }
}
