@import "globalsLess";

html {
  height: 100%;

  body {
    margin: 0;
    background-color: @system-color-light-100;
    .fontInterRegular();
    color: @dark;
    height: 100%;

    #root {
      height: 100%;
    }
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}