@import "globalsLess";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
    height: 100%;

    body {
        .fontOutfitRegular();
        background-color: @white;
        margin: 0;
        height: 100%;

        #root {
            height: 100%;
        }
    }
}
