@font-face {
  font-family: "DMSans-Bold";
  src: url("./fonts/dm-sans/DMSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DMSans-BoldItalic";
  src: url("./fonts/dm-sans/DMSans-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DMSans-Italic";
  src: url("./fonts/dm-sans/DMSans-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DMSans-Medium";
  src: url("./fonts/dm-sans/DMSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DMSans-MediumItalic";
  src: url("./fonts/dm-sans/DMSans-MediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DMSans-Regular";
  src: url("./fonts/dm-sans/DMSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.fontDMSansBold() {
  font-family: "DMSans-Bold";
}

.fontDMSansBoldItalic() {
  font-family: "DMSans-BoldItalic";
}

.fontDMSansItalic() {
  font-family: "DMSans-Italic";
}

.fontDMSansMedium() {
  font-family: "DMSans-Medium";
}

.fontDMSansMediumItalic() {
  font-family: "DMSans-MediumItalic";
}

.fontDMSansRegular() {
  font-family: "DMSans-Regular";
}


@font-face {
  font-family: "Mulish-Bold";
  src: url("./fonts/mulish/Mulish-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Mulish-Regular";
  src: url("./fonts/mulish/Mulish-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

.fontMulishBold() {
  font-family: "Mulish-Bold";
}

.fontMulishRegular() {
  font-family: "Mulish-Regular";
}
