<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;">

<table>
    <tr>
        <td>
            svg width="36px" height="36px" viewBox="0 0 228 228" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon reviewly_logo">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0 14C0 6.268 6.268 0 14 0h77.258c9.692 0 16.452 9.611 13.175 18.733l-24.655 68.63c-3.277 9.12 3.483 18.732 13.175 18.732l120.356.001c7.732 0 13.999 6.268 13.999 14V214c0 7.732-6.268 13.999-13.999 13.999h-7.289c-3.29 0-6.475-1.159-8.996-3.273L84.388 130.255c-7.464-6.26-18.879-3.174-22.172 5.993l-29.633 82.486A14 14 0 0 1 19.408 228H14c-7.732 0-14-6.268-14-14V14Zm151.264 34.21c-3.311 9.128 3.451 18.772 13.161 18.772H214c7.732 0 14-6.268 14-14V14c0-7.732-6.268-14-14-14h-35.438a13.998 13.998 0 0 0-13.16 9.227l-14.138 38.982Z"
                      fill="#516DFF"></path>
            </svg>
        </td>
        <td style="font-size: 46px; color: #28293D; font-family: sans-serif; padding-left: 8px;">
            <b>Reviewly</b>
        </td>
    </tr>
</table>

<h2>
    Welcome, <b th:text="${user.fullName}">Some template</b>!
</h2>

<p style="margin-bottom: 34px">
    You registration process almost finished.
    <br/>
    Just confirm your email.
</p>

<p style="margin-bottom: 34px">
    <a th:href="${confirmationLink}" target="_blank" style="font-size: 18px; padding: 10px; background-color: #5281ff; border-radius: 8px; color: white; cursor: pointer; text-decoration: none">
        Confirm my email
    </a>
</p>

<p>
    <i>
        Regards, <br/>
        Reviewly team
        <i/>
</p>
</body>
</html>