<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;">

<h1>Reviewly</h1>

<h2>
    Hello, <b th:text="${user.fullName}">!ERROR!</b>!
</h2>

<p style="margin-bottom: 34px">
    Password restoring was requested from your account.
    <br/>
    If you wasn't requesting the password restoring, check your email security and change the password in your Reviewly account.
</p>

<p style="margin-bottom: 34px">
    <a th:href="${restorePasswordLink}" target="_blank"
       style="font-size: 18px; padding: 10px; background-color: #5281ff; border-radius: 8px; color: white; cursor: pointer; text-decoration: none">
        Restore password
    </a>
</p>

<p>
    <i>
        Regards, <br/>
        Reviewly team
    </i>
</p>
</body>
</html>