@import "globalsLess";

.reaction {
  display: flex;
  align-items: center;

  .count {
    .fontInterMedium();
    font-size: 14px;
    line-height: 14px;
    color: @system-color-dark-300;
  }

  .reaction-icon {
    display: flex;
    margin-right: 4px;

    svg {
      width: 14px;
      height: 14px;

      path {
        stroke: @system-color-dark-300;
      }
    }
  }

  &.current-user-reacted {
    .reaction-icon svg path {
      stroke: @primary-color-lighter;
    }
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      .count {
        color: @primary-color-lighter;
      }

      .reaction-icon svg path {
        stroke: @primary-color-lighter;
      }
    }
  }
}
