<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      th:replace="~{layouts/pageMainLayout :: main-fragment(
          'Email confirmation',
          ~{:: #headContent},
          ~{:: #mainContent},
          'Email confirmation',
          'email-confirmation-page',
          ~{:: #bodyEndContent}
      )}">
<head>
    <title></title>

    <th:block id="headContent">
        <link th:href="@{/css/emailConfirmationPage.css}" rel="stylesheet"/>
    </th:block>
<body>

<th:block id="mainContent">
    <div class="success-icon"></div>
    <h2 class="email-confirmation-header">Email successfully confirmed</h2>
    <h3 class="email-confirmation-annotation">You will be redirected to application in <span id="redirect-timer">5</span> sec</h3>
    <a th:href="${redirectLink}" class="email-confirmation-redirect-link">Or go it manually</a>
</th:block>

<th:block id="bodyEndContent">
    <script th:inline="javascript">
        /*<![CDATA[*/

        let redirectLink = /*[[${redirectLink}]]*/ "define";

        const interval = setInterval(() => {
            let element = document.getElementById("redirect-timer");
            let currentTimer = parseInt(element.innerHTML);

            if (currentTimer === 1) {
                window.location.href = redirectLink;
                clearInterval(interval);
            }

            element.innerHTML = (currentTimer - 1).toString();
        }, 100000);

        /*]]>*/
    </script>
</th:block>

</body>
</html>