<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pageLayout(pageClass='error')}"
      lang="en">
<head>
    <title>Error</title>

    <link th:href="@{/css/error.css}" rel="stylesheet"/>
</head>
<body>
<div class="page-content" layout:fragment="page-content">
    <section class="section">
        <h1 class="section-header">Grats. You broke it!</h1>
        <h2 class="description">Feel free to use our site navigation =)</h2>

        <span class="or">or</span>

        <a class="link big create-new-account" href="/">
            <svg class="icon link" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <rect x="0.0351562" width="24" height="24" rx="6" fill="#605C55"/>
                <path d="M13.5352 15L10.5352 12L13.5352 9" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Go back to Home
        </a>
    </section>
</div>
</body>
</html>