<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      th:replace="~{layouts/pageMainLayout :: main-fragment(
          'Sites rating',
          ~{:: #headContent},
          ~{:: #mainContent},
          'Sites rating',
          'sites-rating-page',
           null
      )}">
<head>
    <title></title>
    <th:block id="headContent">
        <link th:href="@{/css/sitesRating.css}" rel="stylesheet"/>
    </th:block>
</head>
<body>

<th:block id="mainContent">
    <th:block th:replace="~{components/pages-navigator::pages-navigator-component(
            ${'/web-resources/sites-rating?page='},
            ${currentPageNumber},
            ${pagesCount},
            null
       )}"/>

    <div class="sites-list">
        <th:block th:each="site, loopState: ${sites}">
            <th:block th:replace="~{components/site-card::site-card-component(${site}, 'site-' + ${loopState.index})}"/>
        </th:block>
    </div>

    <th:block th:replace="~{components/pages-navigator::pages-navigator-component(
            ${'/web-resources/sites-rating?page='},
            ${currentPageNumber},
            ${pagesCount},
            null
       )}"/>
</th:block>

</body>
</html>