<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      th:replace="~{layouts/pageMainLayout :: main-fragment(
          'Sites rating',
          ~{:: #headContent},
          ~{:: #mainContent},
          'Sites rating',
          'sites-rating-page',
           null
      )}">
<head>
    <title></title>
    <th:block id="headContent">
        <link th:href="@{/css/sitesRating.css}" rel="stylesheet"/>
    </th:block>
</head>
<body>

<th:block id="mainContent">

    <form method="get" th:action="${'/web-resources/sites-rating'}" class="search" th:with="invalid=${searchError != null}">
        <div class="field-container" th:classappend="${invalid ? 'invalid' : ''}">
            <div class="field">
                <input name="searchUrl" placeholder="Find site by URL" th:value="${additionalParameters['searchUrl']}"/>
                <button type="submit" class="button secondary">
                    <div class="icon search-icon"></div>
                </button>
            </div>
            <span class="message" th:if="${invalid}" th:text="${searchError}">! ERROR !</span>
        </div>
    </form>

    <th:block th:replace="~{components/pages-navigator::pages-navigator-component(
            '/web-resources/sites-rating',
            'page',
            ${currentPageNumber},
            ${pagesCount},
            ${additionalParameters},
            null
       )}"/>

    <div class="sites-list">
        <th:block th:each="site, loopState: ${sites}">
            <th:block th:replace="~{components/site-card::site-card-component(${site}, 'site-' + ${loopState.index})}"/>
        </th:block>

        <div class="no-data" th:if="${sites.size() == 0}">
            No sites found
        </div>
    </div>

    <th:block th:replace="~{components/pages-navigator::pages-navigator-component(
            '/web-resources/sites-rating',
            'page',
            ${currentPageNumber},
            ${pagesCount},
            ${additionalParameters},
            null
       )}"/>
</th:block>

</body>
</html>