<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      th:replace="~{layouts/pageMainLayout :: main-fragment(
          'Sites rating',
          ~{:: #headContent},
          ~{:: #mainContent},
          'Sites rating',
          'sites-rating-page',
           null
      )}">
<head>
    <title></title>
    <th:block id="headContent">
        <link th:href="@{/css/sitesRating.css}" rel="stylesheet"/>
    </th:block>
</head>
<body>

<th:block id="mainContent">
    <div class="pages-navigator">
        <div class="previous-page-nav-container">
            <a th:if="${currentPageNumber > 0}" th:href="${'/web-resources/sites-rating?page=' + (currentPageNumber - 1)}" class="link">
                <div class="icon arrow-icon"></div>
                Prev page
            </a>
        </div>
        <div class="next-page-nav-container">
            <a th:if="${!isLast}" th:href="${'/web-resources/sites-rating?page=' + (currentPageNumber + 1)}" class="link">
                Next page
                <div class="icon arrow-icon"></div>
            </a>
        </div>
    </div>

    <div class="sites-list">
        <div th:each="site: ${sites}" class="site-container">
            <div class="first-row">
                <a th:href="${'/web-resources/' + site.getId()}" th:text="${T(com.responser.backend.utils.UrlUtils).getHost(site.getUrl())}" class="link site-link">!ERROR!</a>
                <div th:text="${site.getRating() + ' / 5'}" class="rating"
                     th:classappend="${(site.getRating() >= 4 ? 'good-rating' : (site.getRating() >= 2 ? 'medium-rating' : 'bad-rating'))}">!ERROR!
                </div>
            </div>

            <div class="second-row">
                <div class="reviews-count">
                    <span class="text">Reviews: </span>
                    <span th:text="${site.getReviewsCount()}" class="value">!ERROR!</span>
                </div>
                <a th:href="${site.getUrl()}" th:text="${'Details'}" target="_blank" class="link details-link">!ERROR!</a>
            </div>
        </div>
    </div>

    <div class="pages-navigator">
        <div class="previous-page-nav-container">
            <a th:if="${currentPageNumber > 0}" th:href="${'/web-resources/sites-rating?page=' + (currentPageNumber - 1)}" class="link">
                <div class="icon arrow-icon"></div>
                Prev page
            </a>
        </div>
        <div class="next-page-nav-container">
            <a th:if="${!isLast}" th:href="${'/web-resources/sites-rating?page=' + (currentPageNumber + 1)}" class="link">
                Next page
                <div class="icon arrow-icon"></div>
            </a>
        </div>
    </div>
</th:block>

</body>
</html>