@import "globalsLess";

.reaction {
    display: flex;
    align-items: center;
    cursor: pointer;

    .count {
        .fontOutfitRegular(12px);
        line-height: 12px;
        color: @gray;
    }

    .reaction-icon {
        display: flex;
        margin-right: -2px;
        width: 18px;
        height: 18px;
        transform: translate(-50%, 0)
    }

    &.current-user-reacted {
        .reaction-icon path.circle_arrow_svg__circle {
            fill: @lime;
            fill-opacity: 1;
        }
    }

    &.negative {
        .reaction-icon {
            transform: translate(-50%, 0) rotate(180deg);
        }
    }

    &.disabled {
        cursor: default;
        opacity: 0.5;
    }
}
