@import "globalsLess";

.auth-code {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 62px;

  span {
    margin: 0;
    .fontInterRegular();
    font-size: 24px;
    color: @system-color-dark-100;
  }
}