@import "globalsLess";

.forgot-password-page {
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .page-name {
            margin-bottom: 10px;
        }

        .restore-password-description {text-align: center;
            .fontOutfitRegular(24px);
            color: @black-alpha-60;
            margin: 0 0 50px;
        }

        .forgot-password-form {
            width: 460px;

            .field-container {
                margin-bottom: 20px;
            }

            .button {
                width: 100%;
            }
        }
    }
}
