LOCAL_DEV_MODE=true

# URL for auth code to JWT token exchange
TOKEN_API_URL=http://local-dev-reviewly.space/auth/oauth2/token

CLIENT_ID=reviewly-web-client

CLIENT_SECRET=reviewly-web-client-secret

# API url
API_URL=http://local-dev-reviewly.space/api

# URL to concrete review page (share link)
REVIEW_WEB_LINK_URL=http://local-dev-reviewly.space/reviews

# URL for JWT tokens setup from WEB application
LOGIN_EXTENSION_PAGE=http://local-dev-reviewly.space/app/login-extension

# URL for logout in WEB application
LOGOUT_EXTENSION_PAGE=http://local-dev-reviewly.space/app/logout-extension

# URL to CDN with users avatars
USER_AVATARS_URL=http://local-dev-reviewly.space/cdn/users-avatars

# URL to CDN with sites icons
SITES_ICONS_URL=http://local-dev-reviewly.space/cdn/sites-icons

DEFAULT_USER_AVATAR_FILE_NAME=default_avatar.png

DEFAULT_SITE_ICON_FILE_NAME=default_site_icon.png

LOG_LEVEL=INFO
