{
  "manifest_version": 3,
  "name": "Reviewly LOCAL",
  "version": "1.0",
  "description": "Chrome extensions that assist in exploring and leaving ratings and reviews about website experiences.",
  "key": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5cd9M5fviPt37GS3HKKwEDOK/PzUbNbfiw2B7sbPnSwETZY1U/uYWfMYU9l6PLQkg1kU8fXa/yfZVCovm9tMbtpTP25G6+kg1XzXiAiaTJnKlLgcTOaV2bD3vGaJyne7oqzKxrYOrhs1asF3UM8snqX29F9Bf+NRCzq9jCb8Zab5xulEYYQNlkOPFLw8ivGcAzmPalHQlGeVjIG6GUyZH8Jnc1S6oMWh25T+spa4KFupznkoQx2PbqbK4xfzmA1m3aIQjt6eL+bvwrhrYwzhERgIMTzITPhc1ov98vFbcQV+j3SyjnCKUq/NbIaauQVHHBm15MWEkPkFsapp3Th4EQIDAQAB",
  "homepage_url": "http://local-dev-reviewly.space",
  "permissions": [
    "tabs",
    "storage",
    "scripting"
  ],
  "action": {
    "default_popup": "index.html",
    "default_title": "Click for see or leave opinions about this web resource.",
    "default_icon": {
      "16": "logo_16.png",
      "32": "logo_32.png",
      "64": "logo_64.png",
      "128": "logo_128.png"
    }
  },
  "background": {
    "service_worker": "./background.js"
  },
  "externally_connectable": {
    "matches": [
      "http://local-dev-reviewly.space/*"
    ]
  },
  "content_scripts": [
    {
      "matches": [
        "http://*/*",
        "https://*/*"
      ],
      "css": [
        "content-styles.css"
      ],
      "js": [
        "./content.js"
      ]
    }
  ],
  "web_accessible_resources": [
    {
      "resources": [
        "fonts/*"
      ],
      "matches": [
        "http://*/*",
        "https://*/*"
      ]
    }
  ],
  "icons": {
    "16": "logo_16.png",
    "32": "logo_32.png",
    "64": "logo_64.png",
    "128": "logo_128.png"
  }
}