@import "globalsLess";

.forgot-password-page {
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .page-name {
            margin-bottom: 10px;
        }

        .restore-password-description {
            text-align: center;
            .fontOutfitRegular(24px);
            color: @black-alpha-60;
            margin: 0 0 50px;
        }

        .forgot-password-form {
            width: 460px;

            .field-container {
                margin-bottom: 20px;
            }

            .button {
                width: 100%;
            }
        }
    }
}


.restore-sent-modal {
    .modal {
        width: 360px;
        height: 236px;

        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            border-radius: 20px;
            padding: 20px 30px 30px 30px;

            .text {
                text-align: center;
                width: 290px;
                margin: 20px 0 0;
            }

            .button {
                width: 100%;
            }
        }
    }
}
