@import "globalsLess";

.radio-button {
    display: flex;
    gap: 4px;
    cursor: pointer;
    align-items: center;

    .border {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
        border: solid 1px @beige-dark-alpha-20;
        border-radius: 50%;

        .checked-indicator {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            background-color: @black-alpha-60;
        }
    }

    .label {
        .fontOutfitRegular(14px);
        color: @black-alpha-60;
        line-height: 14px;
    }

    &.checked {
        .checked-indicator {
            transform: scale(1);
        }
    }

    &.disabled {
        pointer-events: none;
    }
}
