@import "globalsLess";

.main-menu-container {
    background-color: #f1f0ee;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 30px;
    padding-top: 30px;
    transition: transform 0.15s;
    z-index: 1;

    .adaptationTabletAndMobile({
        &.hidden {
            transform: translateX(-100%);
        }
    });

    .user-info-container {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 50px;

        .user-avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .change-user-avatar {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: @green;
            padding: 0;
            border: none;
            width: 24px;
            height: 24px;
            border-radius: 50%;

            .icon {
                path {
                    stroke: @white;
                }
            }
        }

        .user-info {
            .username {
                margin: 0;
                .fontOutfitRegular(24px);
                color: @brown-soft;
            }

            .rating-container {
                display: flex;
                align-items: center;
                gap: 6px;
                .fontOutfitRegular(12px);
                color: @brown-soft;

                .help_circle {
                    cursor: help;
                }
            }
        }
    }

    .main-menu, .account-control-container {
        .button {
            padding: 0;
            line-height: unset;
            border: none;
        }
    }

    .main-menu {
        margin-bottom: 50px;

        .menu-item {
            height: unset;
            background-color: transparent;
            .fontOutfitMedium(24px);
            color: @black-alpha-60;

            &.active, &:hover {
                color: @green;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    .account-control-container {
        display: flex;
        gap: 10px;

        .button {
            background-color: @brown-soft;
            width: 30px;
            height: 30px;
            border-radius: 8px;

            .icon {
                height: 14px;
                width: 14px;

                path {
                    stroke: @white;
                }
            }

            &:hover {
                background-color: @green;
            }
        }
    }
}
