@import "globalsLess";

.review-card {
    position: relative;
    padding: 10px;
    background-color: @white;

    &.underlining {
        &:after {
            content: "";
            background: @beige-alpha-8;
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            height: 1px;
        }
    }

    .card-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .user-info-container {
            display: flex;
            align-items: center;

            .user-avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-right: 8px;
            }

            .user-data {
                .user-name, .review-date {
                    display: block;
                }

                .user-name {
                    color: @black-alpha-60;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 218px;
                    .fontOutfitMedium(12px);
                }

                .review-date {
                    color: @black-alpha-40;
                    .fontOutfitRegular(12px);
                }
            }
        }

        .rating {
            margin-left: auto;
        }
    }

    .review-text {
        .fontOutfitRegular(14px);
        margin: 0 0 10px;
        word-wrap: break-word;
        color: @black-alpha-60;

        &:not(.expanded) {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .show-more {
            height: 16px;
            .fontOutfitRegular(12px);
            border: none;
            border-radius: unset;
            width: unset;
            padding: 0;
            gap: 4px;
            color: @black-alpha-40;

            .icon {
                width: 6px;
                height: 8px;

                path {
                    stroke: @black-alpha-40;
                }
            }

            &:hover {
                background-color: transparent;
                color: @black-alpha-60;

                .icon path {
                    stroke: @black-alpha-60;
                }
            }
        }

        .actions-container {
            display: flex;
            align-items: center;
            gap: 4px;
            margin-left: auto;

            .reaction {
                margin-right: 12px;
            }

            .share-button {
                padding: 0;
                height: auto;
                border: 0;
                border-radius: unset;

                .send {
                    width: 14px;
                    height: 14px;

                    path {
                        stroke: @gray;
                    }
                }

                &:hover {
                    background-color: transparent;

                    .send path {
                        stroke: @brown-dark;
                    }
                }
            }
        }
    }

    .review-card-blur {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}
