@import "globalsLess";

@star-size: 16px;

.rating {
    .star {
        width: @star-size;
        height: @star-size;
        margin-right: 4px;

        &.empty {
            path {
                fill: @gray-alpha-10;
            }
        }

        &.filled {
            path {
                fill: @lime;
            }
        }
    }

    &.disabled {
        .star {

            &.filled {
                path {
                    fill: @lime-alpha-40;
                }
            }
        }
    }
}
